<div class="container">
	<%= devise_error_messages! %>
	<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
	  <div class="row-fluid">
	  	<div class="span1"><%= f.label :email %></div>
	  	<div class="span3"><%= f.email_field :email, :value=>params[:email] %></div>
	  </div>
	  <div class="row-fluid">
	  	<div class="span4">
	  		<%= f.submit "Resend confirmation instructions", :class=>"btn btn-primary pull-right" %>
	  	</div>
	  </div>
	<% end %>
</div>