<%= form_for(@user, :url => confirm_account_path, :method => :put) do |f| %>
  <div>
      <%= f.hidden_field :confirmation_token %>
  </div>
  
  <div>
      <%= f.label :create_password %><br />
      <%= f.password_field :password %>
  </div>
  
  <div>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
  </div>

  <div>
      <%= f.submit "Confirm" %>
  </div>
<% end %>