<h2>Resend confirmation instructions</h2>

<%= form_for(resource, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div>
      <%= f.label :email %><br />
      <%= f.email_field :email %>
      <%= f.hidden_field :confirmation_token %>
  </div>
  
  <div>
      <%= f.label :password %><br />
      <%= f.password_field :password %>
  </div>
  
  <div>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
  </div>

<% end %>

<%= render :partial => "devise/shared/links" %>