<% content_for :right_split do %>
<h3>Notification</h3>

    <table class="table table-striped table-bordered" summary="Reasons for collection of all personal information.">
        <tr>
            <th>notification</th><th><%= image_tag("email_icon_16x16.png", 
                                    :alt=>"How do you want to be emailed?") %></th>
        </tr>
        <tr>
            <td>Flash Volunteer news updates (no more than once per week)</td><td><%=  %></td>

        </tr>
        <tr>
            <td>Digest of upcoming, recommended events (weekly)</td><td><%=  %></td>
        </tr>
        <tr>
            <td>If someone sends me a personal message</td><td><%=  %></td>

        </tr>
        <tr>
            <td>Reminder about an event I am volunteering at (24 hours notice)</td><td><%=  %></td>
        </tr>
        <tr>
            <td>Reminder about an event I am coordinating (24 hours notice)</td><td><%=  %></td>

        </tr>
        <tr>
            <td>If someone signs up for an event I'm coordinating</td><td><%=  %></td>
        </tr>
        <tr>
            <td>When a message is posted for an event to which you are signed up</td><td><%=  %></td>
        </tr>
        <tr>
            <td>Reminder to give feedback on an event I attended</td><td><%=  %></td>
        </tr>
        <tr>
            <td>When a message is posted to a neighborhood in which you are interested:</td><td><%=  %></td>
        </tr>
        <tr>
            <td>Reminder to fill out volunteer attendance for an event I coordinated</td><td><%=  %></td>
        </tr>
        <tr>
            <td>If someone adds me to their FlashTeam</td><td><%=  %></td>
        </tr>
    </table>
<div class="row-fluid">
    <div class = "span2">&nbsp;</div>
    <div class = "span10">
        <button type="submit" href="#" class="btn btn-primary pull-right">save settings</button>   
    </div>
</div>
<% end %>
<%= render(:partial => "users/shared/me_settings") %>