<% content_for :email_content do%>
	<p>Hello, <%= @resource.email %>,</p>

	<p>We sincerely thank you for signing up for <%event_name%>, but, unfortunately, the organizer has cancelled the event. With this time slot clear on your calendar, we hope you <%= link_to 'pencil in a new event', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %>!</p>

	<p>If you have questions for the organizer, you can follow up on the <%= link_to("organization's page", confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)) %>.</p>
	<br />
	<p>Thanks again for volunteering!</p>

	<p>Charlie X. Buttons</p>
	<p>Flash Volunteer CEO (Courier of Event Options) </p>
	<p><%= mail_to('charlie@flashvolunteer.org', 'Contact me', :subject => 'Questions regarding Flash Volunteer', :encode=>'hex')%></p>

	<p>This notification was sent to <%= @resource.email %> because it is associated with a Flash Volunteer account. Visit account setup to change your communications preferences. </p>
<% end %>
<%= render(:template => 'user_mailer/header')%>