<% content_for :email_content do%>
	<p>Hi, <%= @resource.email %>,</p>

	<p>This is a friendly reminder that you are signed up for <%event_name%> on <%event_date%>. If you no longer can attend, <%= link_to("please update your RSVP", confirmation_url(@resource, :confirmation_token => @resource.confirmation_token))%>.</p>

	<p>In case it's been a while since you signed up for this event, here's a refresher about what you'll be doing: %event_description.</p>
	<br />

	<p>Happy volunteering!</p>

	<p>Charlie X. Buttons</p>
	<p>Flash Volunteer CEO (Courier for Expressing Obligations)</p>
	<p><%= mail_to('charlie@flashvolunteer.org', 'Contact me', :subject => 'Questions regarding Flash Volunteer', :encode=>'hex')%></p>

	<p>This notification was sent to <%= @resource.email %> because it is associated with a Flash Volunteer account. Visit account setup to change your communications preferences. </p>
<% end %>
<%= render(:template => 'user_mailer/header')%>