<%= content_for :right_split do %>
<p class="bold">MY ORGANIZATIONS</p>
<% if can? :create, Org %>
<p><%= link_to "Create a new organization", new_org_url %></p>
<% end %>
<div class="tabs bold">
    <ul class="unstyled inline" id="link_list">
        <li><a class="link_active"  href="#admin" id="admin_link">ADMIN (<%= @admin_of.count(:all) %>)</a></li>
    </ul>
</div>
<div class="clear">&nbsp;</div>
<div id="content_sections">
    <div id="admin_content">
        <% if (@admin_of.empty?) %>
            You are not an admin of any organization
        <% else %>
            <%= render(:partial => "orgs/org", :locals => { :is_switcher => :false }, :collection => @admin_of, :as => :org) %>
        <% end %>
    </div>
</div>
<% end %>
<script type="text/javascript">
    $(document).ready(function () { addContentHandlers(); });
</script>
<%= render :partial => 'users/shared/me' %>