<%
    active = :events
    active = :users if @events.count == 0
    active = :orgs if @events.count == 0 && @users.count == 0
    active = :help_articles if @events.count == 0 && @users.count == 0 && @orgs.count == 0
    %>
<div class="tabs bold">
    <ul class="unstyled inline" id="link_list">
        <% if @events.count > 0 %>
        <li><a class="link_active" href="#events" id="events_link">EVENTS (<%= @events.count %>)</a></li>
        <% end %>
        <% if @users.count > 0 %>
        <li><a <%= 'class="link_active"'.html_safe if active == :users %> href="#users" id="users_link">USERS (<%= @users.count %>)</a></li>
        <% end %>
        <% if @orgs.count > 0 %>
        <li><a <%= 'class="link_active"'.html_safe if active == :orgs %> href="#orgs" id="orgs_link">ORGANIZATIONS (<%= @orgs.count %>)</a></li>
        <% end %>
        <% if @help_articles.count > 0 %>
        <li><a <%= 'class="link_active"'.html_safe if active == :help_articles %> href="#help_articles" id="help_articles_link">HELP ARTICLES (<%= @help_articles.count %>)</a></li>
        <% end %>
    </ul>
</div>
<div class="clear">&nbsp;</div>
<div id="content_sections">
    <% if @events.count == 0 && @users.count == 0 && @orgs.count == 0 && @help_articles.count == 0 %>
        Sorry, there are no results that match your term. Hot tip: You might find more results if you search a single word. 
    <% end %>
    <% if @events.count > 0 %>
        <div <%= 'class="hide"'.html_safe if active != :events %> id="events_content">
            <%= render(:partial => "events/event", :collection => @events, :as => :event, :locals => { :show_links => false, :description => :medium, :type => :recommended }) %>
        </div>
    <% end %>
    <% if @users.count > 0 %>
        <div <%= 'class="hide"'.html_safe if active != :users %> id="users_content">
            <div class="row-fluid">
                <div class="span3">
                    <%= render(:partial => "users/shared/user", :collection => @users, :as => :user, :locals => { :switch => :false }) %>
                </div>
            </div>
        </div>
    <% end %>
    <% if @orgs.count > 0 %>
        <div <%= 'class="hide"'.html_safe if active != :orgs %> id="orgs_content">
            <div class="row-fluid">
                <div class="span7">
                    <%= render(:partial => "orgs/org", :collection => @orgs, :as => :org) %>
                </div>
            </div>
        </div>
    <% end %>
    <% if @help_articles.count > 0 %>
        <div <%= 'class="hide"'.html_safe if active != :help_articles %> id="help_articles_content">
            <div class="row-fluid">
                <div class="span7">
                    <%= render(:partial => "help_articles/help_article", :collection => @help_articles, :as => :help_article) %>
                </div>
            </div>
        </div>
    <% end %>
</div>
<script type="text/javascript">
    $(document).ready(function () { addContentHandlers(); });
</script>