<% content_for :main_action do %>
Sign in
<% end %>
<% content_for :link_action do 
link_to("Sign up", new_user_registration_url)
end %>
<%= content_for :content do %>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html=>{:name=>"signinform", :id =>"sign"}) do |f| %>
    <div class="subheader">Use your Flash account: </div>

    <div class="formpadding">
        <%= f.label :email %>
        <%= f.email_field :email %>
    </div>

    <div class="formpadding">
        <%= f.label :password %>
        <%= f.password_field :password %>
    </div>
    <div class="clear" style="margin-top: 5px"></div>
    <% if devise_mapping.rememberable? -%>
        <div class="formpadding">
            <div style="padding-left: 85px">
                <div class="fl">
                    <%= f.check_box :remember_me %>
                </div>
                <div style="padding-left: 20px">
                    <%= f.label :remember_me %>
                </div>
            </div>
        </div>
    <% end %>
    <div style="clear: left; padding-left: 85px">
        <%= link_to("Forgot your password?", new_user_password_url)%>
    </div>
    
    <div style="padding-left: 70px">
        <a href="#" onclick="submitForm('signinform')" class="green_button">Sign in</a>
    </div>
    <% end %>
<% end %>
<%= render :template => 'users/shared/form' %>