<div id="splash_top">
	<div class="fvaccount fl" >
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html=>{:name=>"signinform", :id =>"sign"}) do |f| %>
			<%= devise_error_messages! %>
			<div class ="share">
				<ul>
					<li id = "splash_header">Sign in </li>
					<li><%= link_to("Sign up", new_user_registration_url)%></br></br></li>
				</ul>
			</div>
			<input type="checkbox" name="account_type" value="personal"/> Personal
			<input type="checkbox" name="account_type" value="organization"/> Organization <br/></br>
			Use your Flash account: </br>

		   <div><%= f.label :email %>
		   <%= f.email_field :email %></div>

		   <div><%= f.label :password %>
		   <%= f.password_field :password %></div>
		   
			<%= link_to("Forgot your password", new_user_password_url)=%>
			<% if devise_mapping.rememberable? -%>
			<div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
			
		<% end -%>
		<div class = "share">
			<div class = "fl">
				<%= link_to("Don't have one yet?", new_user_registration_url)%></br><!--Need an account?-->
			</div>
			<div class = "fr">
				<a href="#" onclick="submitForm('signinform')">
					<div id="splash_button">Sign in</div>
				</a>
			</div>
		</div>
	</div>

	<div class="3rdparty_account fr">
		Or sign in through a third party </br></br>
		Connect this account to sign in to Flash Volunteer:
	</div>
	<% end -%>
</div>
