<div id="splash_top">
	<div class ="share" style ="padding-bottom: 10px">
		<ul>
			<li id = "splash_header">Sign in </li>
			<li><%= link_to("Sign up", new_user_registration_url)%></li>
		</ul>
	</div>
	<hr style="padding-bottom: 20px"/>
	<div class="fvaccount fl" >
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html=>{:name=>"signinform", :id =>"sign"}) do |f| %>
			<%= devise_error_messages! %>
<!--			<input type="checkbox" name="account_type" value="personal"/> Personal
			<input type="checkbox" name="account_type" value="organization"/> Organization <br/></br>-->
			<div class = "subheader">Use your Flash account: </div>
			

		   <div class = "formpadding"><%= f.label :email %>
		   <%= f.email_field :email %></div>

		   <div class = "formpadding"><%= f.label :password %>
		   <%= f.password_field :password %></div>
		   
			<%= link_to("Forgot your password", new_user_password_url)=%>
			<% if devise_mapping.rememberable? -%>
			<div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
			
		<% end -%>
		<div class = "share">
			<div class = "fl">
				<%= link_to("Don't have one yet?", new_user_registration_url)%></br><!--Need an account?-->
			</div>
			<div class = "fr">
				<a href="#" onclick="submitForm('signinform')">
					<div id="splash_button">Sign in</div>
				</a>
			</div>
		</div>
	</div>

	<div class="3rdparty_account fr">
		<div class = "subheader">Or sign in through a third party </div>
		Connect this account to sign in to Flash Volunteer:
	</div>
	<% end -%>
</div>
