<%
    case direction
        when :received
            direction_text = "Given by"
            entity = prop.giver
        when :given
            direction_text = "Given to"
            entity = prop.receiver
    end
%>
<div class="row-fluid">
    <div class="span1">
        <%= image_tag entity.avatar.url(:profile) %>
    </div>
    <div class="span11">
        <% if entity %>
            <p><%= direction_text %> <%= link_to entity.name, user_url(entity) %> on <%= prop.created_at.strftime("%m/%d/%y") %></p>
            <i>"<%= prop.message %>"</i>
        <% end %>
    </div>
</div>
<div class="row-fluid">&nbsp;</div>