<div class="row-fluid dash_nav">
  <div class="span6">
    <div class="dash_nav_l pull-left">
      <div style="padding-left: 20px;">
        <%= link_to "Overview" %>
      </div>
    </div>
    <div class="dash_nav_l pull-left">
      <div style="padding-left: 20px;">
        <%= link_to "Volunteers" %>
      </div>
    </div>
    <div class="dash_nav_l pull-left">
      <div style="padding-left: 20px;">
        <%= link_to "Events" %>
      </div>
    </div>
  </div>
  <div class="span6">
    <div class="dash_nav_r pull-right">
      <div style="padding-right: 20px;">
        <%= link_to "Help" %>
      </div>
    </div>
    <div class="dash_nav_r pull-right">
      <div style="padding-right: 20px;">
        <%= link_to "Export" %>
      </div>
    </div>
    <div class="dash_nav_r pull-right">
      <div style="padding-right: 20px;">
        <%= link_to "Import" %>
      </div>
    </div>
  </div>
</div>

<%= render(:partial => "orgs/dashboard/" + @dashboard_view) %>
