<h1>Listing orgs</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orgs.each do |org| %>
  <tr>
    <td><%= org.name %></td>
    <td><%= link_to 'Show', org %></td>
    <td><%= link_to 'Edit', edit_org_path(org) %></td>
    <td><%= link_to 'Destroy', org, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Org', new_org_path %>
