<% content_for :left_split do %>
    <div>
        <%= photo_link(current_user.avatar, :profile, user_url(current_user)) %>
    </div>        
    <div>
        <%= render :partial => "skills/strip", :locals => { :entity => current_user, :size => "small" } %>
    </div>
    <div class="clear">
        <p><%= current_user.name %></p>
        <p><%= link_to "Edit profile", edit_user_url(current_user) %></p>
        <ul class="unstyled">
            <li><%= link_to "MY EVENTS", events_user_url(current_user) %></li>
            <li><%= link_to "MY FLASH TEAM", events_user_url(current_user) %></li>
            <li><%= link_to "MY ORGS", events_user_url(current_user) %></li>
            <li><%= link_to "STATS", events_user_url(current_user) %></li>
        </ul>
    </div>
<% end %>
<%= render :template => 'shared/split_left' %>