<% content_for :left_split do %>
    <div>
        <%= photo_link(current_user.avatar, :profile, user_url(current_user)) %>
    </div>        
    <div>
        <%= render :partial => "skills/strip", :locals => { :entity => current_user, :size => "small" } %>
    </div>
    <div class="clear">
        <p><%= current_user.name %></p>
        <p><%= link_to "Edit profile", edit_user_url(current_user) %></p>
        <ul class="unstyled">
            <li><%= link_to "UPCOMING EVENTS", upcoming_events_user_url(current_user) %></li>
            <li><%= link_to "RECOMMENDED EVENTS", recommended_events_user_url(current_user) %></li>
            <li><%= link_to "STATISTICS", stats_user_url(current_user) %></li>
            <li><%= link_to "NEWS FEEDS", news_user_url(current_user) %></li>
            <li><%= link_to "TEAM", team_user_url(current_user) %></li>
            <% if (current_user.admin_of.empty?) %>
                <li><%= link_to "ORGANIZATION", user_orgs_url(current_user) %></li>
            <% end %>
        </ul>
    </div>
<% end %>
<%= render :template => 'shared/split_left' %>