<%
    user ||= current_user
    image_size ||= :thumb
    actions ||= :none
    switch ||= :true
%>

<div class="row-fluid">
    <div class="span3 user-partial-image">
        <%= photo_link(user.avatar, image_size, user_url(user)) %>
    </div>
    <div class="span9">
		<% if switch == :false %>
			<%= link_to user_url(user) do %>
			    <p class="user-partial-name"><%= user.name %></p>
			<% end %>
		<% else %>
			<%= link_to switch_user_url(user) do %>
			    <p class="user-partial-name-switch"><%= user.name %></p>
			<% end %>
		<% end %>
    </div>
</div>