<%= devise_error_messages! %>
<% content_for :title_content do %>
    <span style="font-size: 250%"><%= yield :main_action %></span><%= yield :link_action %>
<% end %>
<% content_for :left_content do %>
    <%= yield :form_content %>
<% end %>
<% content_for :right_content do %>
    <h4>or sign in through a third party</h4>
    <p>connect this account to sign in to Flash Volunteer:</p>
    <ul class="unstyled inline">
        <li>
            <a href="blank">
                <a href="<%= user_omniauth_authorize_path(:facebook) %>">
                    <%= image_tag("facebook.png") %>
                </a>
            </a>
        </li>
        <li>
            <a href="blank">
                <a href="<%= user_omniauth_authorize_path(:google_oauth2) %>">
                    <%= image_tag("Google.png") %>
                </a>
            </a>
        </li>
        <li>
            <a href="blank">                        
                <%= image_tag("Yahoo.png") %>
            </a>
        </li>
        <li>
            <a href="blank">                        
                <%= image_tag("OpenID.png") %>
            </a>
        </li>
    </ul>
<% end %>
<%= render(:template=>"shared/splash_two_column") %>