<% if !@prop.errors.empty? %>
    <div class="alert alert-error">
        <a class="close" data-dismiss="alert" href="#">x</a>
        <h4 class="alert-heading">Error!</h4>
        <p>
            <ul>
                <% @prop.errors.each do |attr,msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </p>
    </div>
<% end %>


<h1>Give Props</h1>
<p>Enter a message to thank this Flash Volunteer for a job well done. We'll deliver it!</p>
<br/>
<%= form_for(@prop) do |f| %>
    <div class="row">
        <div class="col-md-1">
            <div class="pull-right"><%= f.label :message, "message"%></div>
        </div>
        <div class="col-md-11">
            <%= f.text_area :message, :class=>"full"%>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <%= f.submit "Give Props", :class=>"pull-right btn btn-primary" %>
        </div>
    </div>
<% end %>
