<h3>need help? have a question?</h3>
<p>Send an email to <a href="mailto:info@flashvolunteer.org">info@flashvolunteer.org</a>, and we'll get you answers!</p>
<h3>faq</h3>

<div class="row-fluid">
	<div class="span4" id="link_list">
		<ul class="unstyled" id="help_nav_layout">
			<% @articles.each_with_index do |a,i| %>
			<li>
				<a <%= "class='link_active'" if i == 0 %> id="<%= friendly_name(a.title) %>_link" href="#<%= friendly_name(a.title) %>"><%= a.title %></a>
			</li>
			<% end %>
		</ul>
	</div>
	<div class="span8" id="content_sections">
		<% @articles.each_with_index do |a,i| %>
		<div <%= "class='hide'" if i >0 %> id="<%= friendly_name(a.title) %>_content">
			<h4><%= a.title %></h4>
			<p>
				<%= display_text_field_safe(ERB.new(a.description).result(binding)) %> 
			</p>
		</div>
		<% end %>
	</div>
</div>
<script type="text/javascript">
    $(document).ready(function () { addContentHandlers(); });
</script>