<%= content_for :right_split do %>
    <% if @user.errors.any? %>
        <div class="alert alert-error">
            <a class="close" data-dismiss="alert" href="#">x</a>
            <h4 class="alert-heading">Error!</h4>
            <p>
                <ul>
                <% @user.errors.each do |attr,msg| %>
                    <li><%= msg %></li>
                <% end %>
                </ul>
            </p>
        </div>
    <% end %>

    <h3>profile information</h3>
    <%= form_for(@user, :html => {:id => "form", :name => "user_form"}) do |f| %>
        <div class="row">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-2">
                <%= image_tag current_user.avatar.url(:profile) %>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-8">
                        <%= f.file_field :avatar %>
                    </div>
                    <div class="col-md-4">
                        <% if @user.avatar.url(:profile) != "/assets/default_user_profile.png" %>
                            <%= link_to("Remove Photo", photo_user_url, :method => :delete, :class=>"btn btn-primary pull-right") %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <div class="pull-right"><%= f.label :name, "name"%></div>
            </div>
            <div class="col-md-8">
                <%= f.text_field :name, :class => "full" %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="pull-right"><%= f.label :email, "email"%></div>
            </div>
            <div class="col-md-8">
                <%= f.email_field :email, :class => "full" %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="pull-right"><%= f.label :password, "new password"%></div>
            </div>
            <div class="col-md-8">
                <%= f.password_field :password, :class => "full" %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="pull-right"><%= f.label :password_confirmation, "confirm password"%></div>
            </div>
            <div class="col-md-8">
                <%= f.password_field :password_confirmation, :class => "full" %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="pull-right"><%= f.label :birthday, "birthday", :class=>"full" %></div>
            </div>
            <div class="col-md-2">
                <input id="user_birthday" class="full" name="user[birthday]" value="<%= @user.birthday.strftime('%-m/%-d/%Y') unless !@user.birthday %>" />

                <script type="text/javascript">
                $(document).ready(function() { $('#user_birthday').datepicker({dateFormat: 'm/d/yy'})});
                </script>
            </div>
            <div class="col-md-2">
                <div class="pull-right"><%= f.label :neighborhood, "volunteer" %></div>
            </div>
            <div class="col-md-4">
                <%= f.collection_select(:neighborhood_id, Neighborhood.where("state = ?", :wa).order("name asc"), :id, :full_name, {:include_blank => "anywhere in king county" },  :class=>"full") %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="pull-right"><%= f.label :description, "about me"%></div>
            </div>
            <div class="col-md-8">
                <%= f.text_field :description, :class => "full" %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="pull-right"><%= f.label :categories, "categories", :for=>"email" %></div>
            </div>
            <div class="col-md-8">
                <%= render(:partial => 'skills/form', :locals => { :entity => "user", :f => f, :skills => @user.skills }) %>
            </div>
        </div>
        <div class="row col-md-11">
            <button type="submit" href="#" class="btn btn-primary pull-right">update</button>
        </div>
    <% end %>
<% end %>
<%= render(:partial => "users/shared/me_settings") %>
