<%= stylesheet_link_tag "timeline" %>
<%= javascript_include_tag "timeline" %>

<script defer="defer">
$(function () {
    var shareHtmls = [];
    var eventHtmls = [];
    var eventJson = null;
    <% @events.keys.each do |k| %>
        eventJson = <%= @events[k][:json].html_safe %>;
        <% @events[k][:data].each_with_index do |event, i| %>
            shareHtmls[<%= i %>] = '<%=escape_javascript(render :partial => "events/share", :locals => { :event => event, :size => :medium }) %>';
        <% end %>

        <% @events[k][:data].each_with_index do |event, i| %>
            <% showSignUpButton = event.start > DateTime.now && !event.attending?(@user) %>
            eventHtmls[<%= i %>] = '<%=escape_javascript(render :partial => "events/event", :locals => { :event => event, :description => :medium, :sign_up_button => showSignUpButton }) %>';
        <% end %>

        Timeline.buildTimeline("<%= @events[k][:title] %>", eventJson, shareHtmls, eventHtmls);
    <% end %>
});
</script>

<div class="row-fluid timeline-header">
    <div class="span9">
        <% if can? :see_events, @user %>
            <div class="row-fluid tlh-toprow">
                <div class ="span3">&nbsp;</div>
                <div class="span9">
                    <span class="pull-left tlh-username">
                        <h1 class="h1-override"><%= @user.name %></h1>
                    </span> 
                    <div class="t1h-skills">
                        <span>
                            <%= render :partial => "skills/strip", :locals => { :entity => @user, :size => "small" } %>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row-fluid tlh-bottomrow">
                <div class="span3">
                    <div><%= image_tag @user.avatar.url(:profile), :class => "tlh-avatar" %></div>
                    <!-- <div class="tlh-followercount-align">
                        <span class="tlh-followercount"><%= @nFollowers %></span> followers
                    </div>
                    -->
                </div>
                <div class="span9">
                    <% if @user.neighborhood %>
                        <div><h4>volunteers in <%= link_to(@user.neighborhood.name, (events_url.concat("/in/").concat(@user.neighborhood.name))) %></h4></div>
                    <% end %>
                     <div class="row-fluid bold">
                        <div class = "span2 t1h-stats">
                            <p>hours</p>
                            <h4><%= @nHoursVolunteered %></h4>
                        </div>
                        <div class = "span2 t1h-stats">
                            <p>created</p>
                            <h4><%= @nEventsCreated %></h4>
                        </div>
                        <div class = "span2 t1h-stats">
                            <p>upcoming</p>
                            <h4><%= @nEventsComingUp %></h4>
                        </div>
                        <div class = "span2 t1h-stats">
                            <p>past</p>
                            <h4><%= @nEventsInPast %></h4>
                        </div>
                    </div>
                </div>
            </div>
        <% else %>
            <%= @user.name %> does not have a public profile. <!--If you know <%=@user.name %>, send a Flash Team request. -->
        <% end %>
    </div>
    <div class="span3 list_spacing bold" style="margin-top:28px">
        <ul class="unstyled">
            <%if current_user != @user%>
                <li><%= link_to "GIVE PROPS", new_prop_url(@user) %></li>
            <%end%>
            <li><%= link_to "UPCOMING EVENTS", events_user_url(@user) +"#upcoming" %></li>
            <li><%= link_to "RECOMMENDED EVENTS", events_user_url(@user) + "#recommended" %></li>
            <% if can? :create, Event %>
                <li><%= link_to "CREATE NEW EVENT", new_event_url %></p>
            <% end %>   
        </ul>
    </div>
</div>

<% if can? :see_events, @user %>
<div class="row">
    <div class="span8 timeline">
    </div>
    <div class="span4 timeline-nav">
    </div>
</div>
<% end %>