<div class="row-fluid">
    <div class="span4">
        <div class="logo">
            <a href="/"><%= image_tag 'logo-smaller.png' %></a>
        </div>
    </div>
    <div class="span8">
        <div id="header_personal_text" class="pull-right">
            <% if !user_signed_in? %>
                <%= link_to "sign in", new_user_session_path %> or <%= link_to "create an account", new_user_registration_path %>
            <% else %>
                <p class="pull-left">
                hey there, <%= current_user.name %><br/>
                <%= link_to "settings", edit_user_url(current_user) %> | <%= link_to "sign out", destroy_user_session_path, :method=>:delete %>
                </p>
                <div class="pull-right" id="user_greeting_picture">
                    <%= photo_link(current_user.avatar, :thumb, user_url(current_user)) %>
                    <%= if current_user.id != original_user_logged_in || current_user.admin_of.count > 0
                            link_to("#", :id=>"account_pulldown_link") do  
                                "^"
                            end
                        end
                        %>
                </div>
                <%= render(:partial => "shared/account_pulldown") if (current_user.id != original_user_logged_in || current_user.admin_of.count > 0) %>
            <% end %>
        </div>
    </div>
</div>
