<div class="container" style="clear:both">
    <fieldset>
        <legend>DEBUG</legend>
        Params
        <%= debug(params) %>
        Cookies
        <%= debug(cookies) %>
        Session<br/>
        <%= debug(session) %>
        <br/>Original User<br/>
        <%= debug(original_user_logged_in) %>
        <br/><br/>
        <%= debug(current_user) %>
    </fieldset>
</div>