<div class="container">
    <div class="navbar">
        <div class="footer-navbar-inner">
            <div class="container">
                <div class="nav-collapse">
                    <ul class="nav">
                        <li><%= link_to("PRIVACY", privacy_path) %></li>
                        <li><%= link_to("TERMS OF USE", tou_path) %></li>
                    </ul>
                </div>
            </div>
            <p class="font_normal">.......................................................................................................</p>
            <div class="row-fluid">
                <div class="span8">
                    <div class="followus ">
                        <p class="pull-left padright-1 font_normal">follow us:</p>
                        <ul class="unstyled inline">
                            <li>
                                <a href="http://twitter.com/flashvolunteer">
                                        <%= image_tag("twitter_icon_20x20.png", 
                                            :id => "twitter-badge-img",
                                            :alt=>"Follow us on Twitter") %>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.facebook.com/pages/Flash-Volunteer/75272433226">
                                    <%= image_tag("facebook_icon_20x20.png", 
                                        :id => "fb-badge-img",
                                        :alt=>"Follow us on Facebook") %>
                                </a>
                            </li>
                            <li>
                                <a href="http://itunes.apple.com/us/app/flash-volunteer/id353017547">                        
                                    <%= image_tag("mobile_icon_20x20.png", 
                                            :id => "iphone-badge-img",
                                            :alt=>"Get our iPhone application") %>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="span4 offset2 copy">
                    <a href="http://fundly.com/flashvolunteer2011" class="pull-left">
                        <%= image_tag("donate_normal.png", :alt=>"Donate to Flash Volunteer!") %>                   
                    </a>                    
                </div>
            </div>
        </div>
    </div>
</div>