<div class="container container-padding">
    <div class="navbar">
        <div class="footer-navbar-inner">
            <div class="container">
                <div class="nav-collapse">
                    <ul class="nav">
                        <li><%= link_to("PARTNERS", partners_path) %></li>
                        <li><%= link_to("PRIVACY", privacy_path) %></li>
                        <li><%= link_to("TERMS OF USE", tou_path) %></li>
                    </ul>
                </div>
            </div>
            <p>...............................................................................................................................................................................................................................................................................</p>
            <div class="row-fluid">
                <div class="span3">
                    <div class="followus">
                        <p class="pull-left padright-1">follow us:</p>
                        <ul class="unstyled inline">
                            <li>
                                <a href="http://twitter.com/flashvolunteer">
                                        <%= image_tag("twitter_icon_32x32.png", 
                                            :id => "twitter-badge-img",
                                            :alt=>"Follow us on Twitter") %>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.facebook.com/pages/Flash-Volunteer/75272433226">
                                    <%= image_tag("facebook_icon_32x32.png", 
                                        :id => "fb-badge-img",
                                        :alt=>"Follow us on Facebook") %>
                                </a>
                            </li>
                            <li>
                                <a href="http://itunes.apple.com/us/app/flash-volunteer/id353017547">                        
                                    <%= image_tag("mobile_icon_32x32.png", 
                                            :id => "iphone-badge-img",
                                            :alt=>"Get our iPhone application") %>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="span9 copy">
                    <div class="row-fluid">
                        <div class="span9">
                            <p>built by volunteers, for volunteers <br/>
                            Flash Volunteer &copy; 2009-2012, a 501(c)3 nonprofit<br/></p>
                        </div>
                        <div class="span3">
                            <a href="http://fundly.com/flashvolunteer2011" class="pull-left">
                                <%= image_tag("donate_normal.png", :alt=>"Donate to Flash Volunteer!") %>                   
                            </a>         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>