<nav class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_url %>">Flash Volunteer</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Featured", featured_events_url(current_location_name) %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Events <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% if user_signed_in? %>
              <li><%= link_to("Create New Event", new_event_url )%></li>
              <li class="divider"></li>
            <% end %>
            <li><%= link_to("All", events_url(current_location_name)) %></li>
              <li class="divider"></li>
              <li class="dropdown-header">Timeframe</li>
              <li><%= link_to("Today", this_events_url(current_location_name, "day")) %></li>
              <li><%= link_to("This week", this_events_url(current_location_name, "week")) %></li>
              <li><%= link_to("This month", this_events_url(current_location_name, "month")) %></li>
          </ul>
        </li>
      </ul>
      <% if current_user && (current_user.is_moderator? || current_user.role?(:super_admin)) %>
        <li class="dropdown" >
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% if current_user.is_moderator? || current_user.role?(:super_admin) %>
            <li><%= link_to('Manage Affiliate', affiliates_url) %></li>
            <% end %>
            <% if can? :manage, :rails_admin %>
            <li><%= link_to('Volunteer Match API', volunteer_match_index_url) %></li>
            <% end %>
          </ul>
        </li>
      <% end %>

      <input type="text" name="search" class="search-query" placeholder="Search">

      <ul class="nav navbar-nav navbar-right">
            <% if !user_signed_in? %>
              <li>
              <%= link_to "Login", new_user_session_path %>
              </li>
              <li>
              <%= link_to "Signup", new_user_registration_path %>
              </li>
            <% else %>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle user-header" data-toggle="dropdown"><%= current_user.name %><b class="caret" id="user-caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "my events", root_url %></li>
                  <li><%= link_to "profile", user_url(current_user) %></li>
                  <% if current_user.type == "Org" %>
                      <li><%= link_to "settings", edit_org_url(current_user) %></li>
                  <% else %>
                      <li><%= link_to "settings", edit_user_url(current_user) %></li>
                  <% end %>
                  <li><%= link_to "log out", destroy_user_session_path, :method=>:delete %></li>

                  <% if original_user_logged_in != nil && (current_user.id != original_user_logged_in || current_user.admin_of.count > 0) %>
                      <li class="divider"></li>
                      <li class="nav-header">Other Accounts</li>
                        <% if current_user.id != original_user_logged_in && original_user_logged_in != nil %>
                            <li><%= render(:partial => "users/shared/user", :locals => { :user => User.find(original_user_logged_in) }) %></li>
                        <% end %>
                        <% if current_user.admin_of.count > 0 %>
                            <% current_user.admin_of.each do |org| %>
                              <li>
                                <li><%= render(:partial => "users/shared/user", :locals => { :user => User.find(original_user_logged_in) }) %></li>
                              </li>
                              <% end %>
                        <% end %>
                  <% end %>
                </ul>
            </li>
            <% end %>
        </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
