<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <div class="logo_mobile">
                <a href="/"><%= image_tag 'logo-smaller.png' %></a>
            </div>
        </div>
        <div class="span2">
            <div id="header_personal_text_mobile" class="pull-right">
                <% if !user_signed_in? %>
                    <%= link_to "sign in", new_user_session_path %> or <%= link_to "create an account", new_user_registration_path %>
                <% else %>
                    <p class="pull-left">
                    hey there, <%= current_user.name %><br/>
                    <%= link_to "settings", edit_user_url(current_user) %> | <%= link_to "sign out", destroy_user_session_path, :method=>:delete %>
                    </p>
                    <div class="pull-right" id="user_greeting_picture">
                        <%= photo_link(current_user.avatar, :thumb, user_url(current_user)) %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
<div class="navbar">
    <div class="navbar-inner_mobile">
        <div class="container-fluid">
            <div class="nav-collapse.collapse">
                <div class="nav-mobile">
                    <div class="nav">
                        <ul class="unstyled inline">
                        <li><%= link_to("EVENTS LIST", events_path) %></li>
                        <li><%= link_to("MAP", neighborhoods_path) %></li>
                        </ul>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>
