	<div id="top">
		<div id="logo-strip">
			<div id="logo" class="fl">
                <a class="fv" href="/">
                    <%= image_tag 'logo-smaller.png' %>
                </a>
			</div>
            <div id="user_profile" class="fr">
				<%= image_tag("default-profile-pic-32x32.png", 
				:id => "blank-img") %>
            </div>
			<div id="volunteerwelcome" class="loggedout">
				<div class="fl" id="greeting">
					<div class = "fr">
		                <% if user_signed_in? %>
		                <% if current_user.name %>
		                Hey there, <%= current_user.name %> 
		                <% end %>
	                </div>
	                <div class = "clear fr">
		                <%= link_to('sign out', destroy_user_session_path, :method => :delete) %>
		                <% else %>
		                    <%= link_to('log in', new_user_session_path, :class=>"fv", :id => "l_login") %> 
		                    or <%= link_to('create an account', new_user_registration_path, :class=>"fv", :id=>"l_login") %>
		                <% end %>
	                </div>
                </div>
            </div>
	    </div><!--end logo-strip-->
	</div><!--end top-->
	<div id="header-navtabs" class="navtabs">
		<ul>
			<li><%= link_to("EVENTS", events_path, :class=>"fv", :id=>"l_events") %></li>
			<li><%= link_to("NEIGHBORHOODS", neighborhoods_path, :class=>"fv", :id=>"l_neighborhoods") %></li>
			<li><%= link_to("ABOUT", about_path, :class=>"fv") %></li>
			<li id="helplink"><%= link_to("HELP", help_path, :class=>"fv", :id=>"l_help") %></li>
		</ul>
	</div>