<div class="container container-padding">
    <div class="row-fluid">
        <div class="span4">
            <div class="logo">
                <a href="/"><%= image_tag 'logo_mobile.png' %></a>
            </div>
        </div>
        <div class="span8">
            <div id="header_personal_text" class="pull-right">
                <% if !user_signed_in? %>
                    <%= link_to "sign in", new_user_session_path %> or <%= link_to "create an account", new_user_registration_path %>
                <% else %>
                    <p class="pull-left">
                    hey, <%= current_user.name %><br/>
                    <%= link_to "settings", edit_user_url(current_user) %> | <%= link_to "sign out", destroy_user_session_path, :method=>:delete %>
                    </p>
                    <div class="pull-right" id="user_greeting_picture">
                        <%= photo_link(current_user.avatar, :thumb, user_url(current_user)) %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
<div class="navbar">
    <div class="navbar-inner">
        <div class="container container-padding">
            <div class="nav-collapse">
                <ul class="nav">
                    <li><%= link_to("EVENT LIST", events_path) %></li>
                    <li><%= link_to("MAP", events_path(:show_map => "true")) %></li>
                </ul>
            </div>
        </div>
    </div>
</div>
