<div class="container container-padding">
    <%= render('shared/account_info') %>
</div>
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <div class="nav-collapse">
                <ul class="nav">
                    <li><%= link_to("EVENTS", events_path) %></li>
                    <!--<li><%= link_to("PEOPLE", people_path) %></li>-->
                    <!--<li><%= link_to("NEIGHBORHOODS", neighborhoods_path) %></li>-->
                    <li><%= link_to("ABOUT", about_path) %></li>
                    <li><%= link_to("HELP", help_articles_path) %></li>
                    <% if can? :manage, :rails_admin %>
                    <li><%= link_to("O M GEE, SUPER SECRET!", rails_admin_url) %></li>
                    <li><%= link_to("AFGoodness", afg_opportunities_url) %></li>
                    <% end %>
                </ul>
                <div class="pull-right" id="search-box-container">
                <%= form_tag search_url, :method=>:post, :id=>'search-form', :class=>"pull-left", :style=>"margin:0px;padding:0px" do |f| %>
                        <%= text_field_tag('search', '', :id=>"search-box") %>
                        <%= submit_tag("", :style=>"display:none") %>
                        <a href="javascript:submitForm('search-form')"><span class="add-on pull-right"><i class="icon-white icon-search"></i></span></a>
                <% end %>
                </div>
            </div>
        </div>
    </div>
</div>