
	<div id="top">
		<div id="logo-strip">
			<div id="logo" class="fl"><a class="fv" href="/">
				<%= theme_image_tag 'logo-smaller.png' %>
			</div>
			<div id="volunteerwelcome" class="loggedout"><a class="fv" href="/login" id="l_login">Log in</a> or <a class="fv" href="/new" id="l_create">create an account</a></div>			
	    </div><!--end logo-strip-->
	</div><!--end top-->

	<div id="header-navtabs" class="navtabs">
		<ul>
			<li><%= link_to("EVENTS", "events", :class=>"fv", :id=>"l_events") %></li>
			<li><%= link_to("NEIGHBORHOODS", "neighborhoods", :class=>"fv", :id=>"l_neighborhoods") %></li>
			<li><%= link_to("ABOUT", "about", :class=>"fv") %></li>
			<li id="helplink"><%= link_to("HELP", "help", :class=>"fv", :id=>"l_help") %></li>
		</ul>
	</div>
