
<!-- 
     ________
    |        |
    |  ? blah|
    |______go|
-->
<% content_for :form_content do %>
    <div class="row-fluid">
        <div class="span2">
            <%= image_tag("question_mark.png", 
                :id => "question-mark",
                :border=>"0") %>
        </div>
        <div class="span10">
            <div class="question_padding">
                <span ><%= yield :question %></span>
            </div>
            <div>
                <%= yield :below_question %>
            </div>
        </div>
    </div>
    <div class="row-fluid">&nbsp;</div>
    <div class="row-fluid">
        <div class="span10" style = "padding-top:8px">
            <div class = "pull-right">
                <%= yield :below_button %>
            </div>
        </div>
        <div class="span2">
            <div class="pull-left">
                <%= yield :button %>
            </div?>
        </div>
    </div>
<% end %>
<%
    template_to_use = (yield :form_template).empty? ? 'shared/splash_with_question_no_form' : (yield :form_template)
%>
<%= render(:template =>  template_to_use) %>