
<!-- 
     ________
    |        |
    |  ? blah|
    |______go|
-->
<% 
# This raises an error when not on a wicked controller
begin 
    @url_for_wizard = new_user_wizard_path
rescue
    @url_for_wizard = ""
end
%>
<% content_for :content do %>    
    <%= form_for current_user || User.new(), 
        :url => @url_for_wizard, 
        :method => :put do |f| %>
        <div class="row">
            <div class="span2">
                <%= image_tag("question_mark.png", 
                    :id => "question-mark",
                    :border=>"0") %>
            </div>
            <div class="span8">
                <div class="row">&nbsp;</div>
                <div class="row">&nbsp;</div> 
                <span style="font-size: 250%;padding-top: 35px"><%= yield :question %></span>
                <div class="row">&nbsp;</div>
                <%= yield :below_question %>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="span2 offset6">
                <%= yield :button %>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <%= yield :below_button %>
            </div>
        </div>
    <% end %>
<% end %>
<%= render(:template => 'shared/splash_frame') %>