<%= content_for :title do %>
<div id="title_block">
	<h1>About Flash Volunteer</h1>
</div>
<% end %>

<div id="middle100">
	<div id="vision" class="hardmodule">              
		<div class="moduletitle">                  
			<h3>Our Vision</h3>              
		</div>            
		<p>Everyone in Seattle engaged in regular volunteer service.</p>          
	</div>              
	<div id="mission" class="hardmodule">              
		<div class="moduletitle">                  
			<h3>Our Mission</h3>              
		</div>            
		<p>Flash Volunteer seeks to build community and increase volunteerism in Seattle through the creation of a sustainable, 
			user-friendly online platform to connect, inspire and mobilize volunteers to effect meaningful change on a neighborhood level. </p>            
		<p>We are a 501(c)3 non-profit organization.</p>            
		<p>The source code we are developing is an open source <strong>project</strong>. 
		<%=link_to("Join the effort!", "http://code.google.com/p/flashvolunteer/")%></p>          
	</div>            
	<div id="mission" class="hardmodule">              
		<div class="moduletitle">                  
			<h3>Board of Directors</h3>              
		</div>            
		<ul>            
			<li>Holly Wyrwich, President</li>            
			<li>Hillary Evans, Vice President</li>            
			<li>Adam Hitch, Treasurer</li>            
			<li>Janis Lee, Secretary</li>            
			<li>Melissa Collett</li>            
			<li>Jennifer Atkinson</li>            
			<li>Joy Wilke Graf</li>            
			<li>Logan Buesching</li>            
			<li>Brad Wilke (Ex Officio)</li>              
		</ul>          
	</div>  
	<div id="staff_list" class="hardmodule">      
		<div class="moduletitle">          
			<h3>Our Team </h3>      
		</div>            
		<div id="recruitment">          
			Want to join our team? Send an email to <%=mail_to("info@flashvolunteer.org", "info@flashvolunteer.org")%>!      
		</div>      
			<div class="staff_group">              
				<h2 style ="padding-bottom: 10px">Operations</h2>              
				<ul>                  
					<li>
						<div class="staff_block">
							<div class="staff_pic">
								<a target="_blank" href="http://www.flashvolunteer.org/volunteers/22838/avatar">
									<%=image_tag("default-profile-pic-small.png", 
												:class => "staff_avatar")%>
								</a>
							</div>
							<div class="staff_desc">
								<div class="staff_name">
									<%=link_to("Brad Wilke", "http://www.flashvolunteer.org/volunteers/22838")%>
								</div>
								<div class="staff_role">Executive Director</div>
							</div>
							<div class="cl"></div>
						</div>
					</li>                  
					<li>
						<div class="staff_block">
							<div class="staff_pic">
								<a target="_blank" href="http://www.flashvolunteer.org/volunteers/22838/avatar">
									<%=image_tag("default-profile-pic-small.png", 
												:class => "staff_avatar")%>
								</a>
							</div>
							<div class="staff_desc">
								<div class="staff_name">
									<%=link_to("Melissa Collett", "http://www.flashvolunteer.org/volunteers/22838")%>
								</div>
								<div class="staff_role">Fundraising Director</div>
							</div>
							<div class="cl"></div>
						</div>
					</li>
				</ul>
			</div>          
			<div class="staff_group">          
				<h2 style ="padding-bottom: 10px">Outreach</h2>              
				<ul>                   
					<li>
						<div class="staff_block">
							<div class="staff_pic">
								<a target="_blank" href="http://www.flashvolunteer.org/volunteers/22838/avatar">
									<%=image_tag("default-profile-pic-small.png", 
												:class => "staff_avatar")%>
								</a>
							</div>
							<div class="staff_desc">
								<div class="staff_name">
									<%=link_to("Holly Wyrwich", "http://www.flashvolunteer.org/volunteers/22838")%>
								</div>
								<div class="staff_role">Marketing Director</div>
							</div>
							<div class="cl"></div>
						</div>
					</li>
					<li>
						<div class="staff_block">
							<div class="staff_pic">
								<a target="_blank" href="http://www.flashvolunteer.org/volunteers/38802/avatar">
									<%=image_tag("default-profile-pic-small.png", 
												:class => "staff_avatar")%>
								</a>
							</div>
							<div class="staff_desc">
								<div class="staff_name">
									<%=link_to("Evita Almassi", "http://www.flashvolunteer.org/volunteers/38802")%>
								</div>
								<div class="staff_role">Social Media Director</div>
							</div>
							<div class="cl"></div>
						</div>
					</li>
					<li>
						<div class="staff_block">
							<div class="staff_pic">
								<a target="_blank" href="http://www.flashvolunteer.org/volunteers/38802/avatar">
									<%=image_tag("default-profile-pic-small.png", 
												:class => "staff_avatar")%>
								</a>
							</div>
							<div class="staff_desc">
								<div class="staff_name">
									<%=link_to("Jennifer Atkinson", "http://www.flashvolunteer.org/volunteers/38802")%>
								</div>
								<div class="staff_role">Grant Consultant</div>
							</div>
							<div class="cl"></div>
						</div>
					</li>
				</ul>
			</div>
			<div class="staff_group">          
				<h2 style ="padding-bottom: 10px">Technical</h2>              
				<ul>                   
					<li>
						<div class="staff_block">
							<div class="staff_pic">
								<a target="_blank" href="http://www.flashvolunteer.org/volunteers/22838/avatar">
									<%=image_tag("default-profile-pic-small.png", 
												:class => "staff_avatar")%>
								</a>
							</div>
							<div class="staff_desc">
								<div class="staff_name">
									<%=link_to("Logan Buesching", "http://www.flashvolunteer.org/volunteers/22838")%>
								</div>
								<div class="staff_role">Development Director</div>
							</div>
							<div class="cl"></div>
						</div>
					</li>
					<li>
						<div class="staff_block">
							<div class="staff_pic">
								<a target="_blank" href="http://www.flashvolunteer.org/volunteers/38802/avatar">
									<%=image_tag("default-profile-pic-small.png", 
												:class => "staff_avatar")%>
								</a>
							</div>
							<div class="staff_desc">
								<div class="staff_name">
									<%=link_to("Janis Lee", "http://www.flashvolunteer.org/volunteers/38802")%>
								</div>
								<div class="staff_role">Development Director</div>
							</div>
							<div class="cl"></div>
						</div>
					</li>
				</ul>
			</div>
	</div>      
</div>