<h3>our vision</h3>
<p>Everyone in Seattle engaged in regular volunteer service.</p>          
<h3>our mission</h3>              
<p>Flash Volunteer seeks to build community and increase volunteerism in Seattle through the creation of a sustainable, user-friendly online platform to connect, inspire and mobilize volunteers to effect meaningful change on a neighborhood level. </p>            
<p>We are a 501(c)3 nonprofit organization and the code we are developing is open source.</p>         
<h3>board of directors</h3>
<div class="row">
    <% [
            Hash["name" => "brian nash", "subtext" => "president", "image" => "board/brian.png"],
            Hash["name" => "deidra ross", "subtext" => "vice president", "image" => "board/deidra.jpg"],
            Hash["name" => "holly wyrwich", "subtext" => "secretary ", "image" => "board/holly.jpg"],
            Hash["name" => "janis lee", "subtext" => "director", "image" => "board/janis.jpg"],
            Hash["name" => "logan buesching", "subtext" => "director", "image" => "board/logan.jpg"],
            Hash["name" => "kenny lee", "subtext" => "director", "image" => "board/kenny.png"],
            Hash["name" => "azimahana amir", "subtext" => "director", "image" => "board/ajie.jpg"],
            Hash["name" => "gary voronel", "subtext" => "director", "image" => "board/gary.jpg"],
            Hash["name" => "brad wilke", "subtext" => "ex officio", "image" => "board/Brad.png"],
       ].each_with_index do |person, i| %>
        <div class="span4 clearfix">
            <%= render(:partial => "users/shared/user_span", :locals => { :name => person["name"], :subtext => person["subtext"], :image => person["image"] }) %>
        </div>
     <% if(i%3 == 2) %>
        <div class="row">&nbsp;</div>
     <% end %>
    <% end %>
</div>
<div class="row">&nbsp;</div>
<h3>our team</h3>
<div class="row">
    <div class="span4">
        <div class="team-name">operations</div>
                <% [
                        Hash["name" => "brad wilke", "subtext" => "executive director", "image" => "board/Brad.png"],
                        Hash["name" => "blake madden", "subtext" => "social media manager", "image" => "board/blake.png"],
                        Hash["name" => "jessia mulvey", "subtext" => "social media intern", "image" => "board/jessica.png"],
                   ].each_with_index do |person, i| %>
                   <div class="clearfix">
                   <% if (person) %>
                     <%= render(:partial => "users/shared/user_span", :locals => { :name => person["name"], :subtext => person["subtext"], :image => person["image"] }) %>
                    </div>
                   <% else %>
                         <div class="span4">&nbsp;</div>
                   <% end %>
                 <% if(i%3 == 2) %>
                    <div class="row">&nbsp;</div>
                 <% end %>
                <% end %>
    </div>
    <div class="span4">
        <div class="team-name">outreach</div>
            <% [
                    Hash["name" => "holly wyrwich", "subtext" => "marketing director", "image" => "board/holly.jpg"],
                    Hash["name" => "azimahana amir", "subtext" => "engagement co-director", "image" => "board/ajie.jpg"],
                    Hash["name" => "gary voronel", "subtext" => "engagement co-director", "image" => "board/gary.jpg"],
               ].each_with_index do |person, i| %>
                <div class="clearfix">
               <% if (person) %>
                 <%= render(:partial => "users/shared/user_span", :locals => { :name => person["name"], :subtext => person["subtext"], :image => person["image"] }) %>
                </div>
               <% end %>
             <% if(i%3 == 2) %>
                <div class="row">&nbsp;</div>
             <% end %>
            <% end %>
    </div>
    <div class="span4">
        <div class="team-name">technical</div>
            <% [
            Hash["name" => "logan buesching", "subtext" => "development director", "image" => "board/logan.jpg"],
            Hash["name" => "janis lee", "subtext" => "design director", "image" => "board/janis.jpg"],
            Hash["name" => "kenny lee", "subtext" => "front-end designer/hacker", "image" => "board/kenny.png"],
               ].each_with_index do |person, i| %>
                <div class="clearfix">
               <% if (person) %>
                 <%= render(:partial => "users/shared/user_span", :locals => { :name => person["name"], :subtext => person["subtext"], :image => person["image"] }) %>
                </div>
               <% end %>
             <% if(i%3 == 2) %>
                <div class="row">&nbsp;</div>
             <% end %>
            <% end %>
    </div>
</div>
<p>
    Want to join our team? Send an email to <%=mail_to("info@flashvolunteer.org", "info@flashvolunteer.org")%>!
</p>
