<h3>our vision</h3>
<p>Everyone engaged in volunteer service.</p>
<h3>our mission</h3>
<p>Flash Volunteer seeks to build community and increase volunteerism through the creation of a sustainable, user-friendly online platform to connect, inspire and mobilize volunteers to effect meaningful change on a neighborhood level. </p>
<p>We are a 501(c)3 nonprofit organization and the code we are developing is open source.</p>
<h3>board of directors</h3>
<div class="row">
    <% [
            Hash["name" => "janis lee", "subtext" => "president", "image" => "board/janis.jpg"],
            Hash["name" => "ayesha ghaffar", "subtext" => "vice president", "image" => "board/ayesha.jpg"],
            Hash["name" => "holly wyrwich", "subtext" => "secretary", "image" => "board/holly.jpg"],
            Hash["name" => "alex sunell", "subtext" => "treasurer", "image" => "board/alex.png"],
            Hash["name" => "logan bueshcing", "subtext" => "director", "image" => "board/logan.jpg"],
            Hash["name" => "tyler walker", "subtext" => "director", "image" => "default_user_profile.png"],
       ].each_with_index do |person, i| %>
        <div class="span4 clearfix">
            <%= render(:partial => "users/shared/user_span", :locals => { :name => person["name"], :subtext => person["subtext"], :image => person["image"],
                                                                          :url => person["url"], :urltext => person["urltext"] }) %>
        </div>
     <% if(i%3 == 2) %>
        <div class="clearfix"></div>
     <% end %>
    <% end %>
</div>



<h3>advisory board</h3>
 <div class="row">
	 <% [
			  Hash["name" => "brad wilke", "subtext" => "FlashVolunteer co-founder", "image" => "board/Brad.png"],
			  Hash["name" => "kenny lee", "subtext" => "FlashVolunteer co-founder", "image" => "board/kenny.png"],
		].each_with_index do |person, i| %>
		<div class="span4 clearfix">
			<%= render(:partial => "users/shared/user_span", :locals => { :name => person["name"], :subtext => person["subtext"], :image => person["image"],
					                                               		  :url => person["url"], :urltext => person["urltext"] }) %>
		</div>
	<% if(i%3 == 2) %>
		<div class="clearfix"></div>
	<% end %>
	<% end %>
</div>




<div class="row">&nbsp;</div>
<h3>special positions</h3>
<div class="row">
    <div class="span4">
        <div class="team-name"></div>
                <% [
                        Hash["name" => "charlie", "subtext" => "communications", "image" => "board/charlie.png",
                             "urltext" => "who is charlie?", "url" => "http://blog.flashvolunteer.org/post/49490365908/if-you-have-ever-received-an-email-from-flash"],
                   ].each_with_index do |person, i| %>
                   <div class="clearfix">
                       <%= render(:partial => "users/shared/user_span", :locals => { :name => person["name"], :subtext => person["subtext"], :image => person["image"],
                                                                                         :url => person["url"], :urltext => person["urltext"] }) %>
                   </div>
                <% end %>
    </div>
    <div class="span4">
        <div class="team-name"></div>
            <% [
					Hash["name" => "brad wilke", "subtext" => "outreach", "image" => "board/Brad.png"],
               ].each_with_index do |person, i| %>
                <div class="clearfix">
						<%= render(:partial => "users/shared/user_span", :locals => { :name => person["name"], :subtext => person["subtext"], :image => person["image"],
                                                                               :url => person["url"], :urltext => person["urltext"] }) %>
                </div>
            <% end %>
    </div>
</div>

<h3>technical team</h3>
<div class="row">
    <% [
    Hash["name" => "logan buesching", "subtext" => "development director", "image" => "board/logan.jpg"],
    Hash["name" => "janis lee", "subtext" => "design director", "image" => "board/janis.jpg"],
    Hash["name" => "kenny lee", "subtext" => "product management director", "image" => "board/kenny.png"],
    Hash["name" => "philip ries", "subtext" => "developer", "image" => "board/phillip.png"],
    Hash["name" => "tony he", "subtext" => "developer", "image" => "board/tony.png"],
    Hash["name" => "tyler walker", "subtext" => "developer", "image" => "board/tyler.jpg"],
    Hash["name" => "conner brennick", "subtext" => "developer", "image" => "board/conner.jpg"],
    Hash["name" => "des marks", "subtext" => "developer", "image" => "board/des.jpg"],
    Hash["name" => "taryn burns", "subtext" => "developer", "image" => "board/taryn.jpg"],
    Hash["name" => "tucker wilde", "subtext" => "developer", "image" => "board/tucker.jpg"],
    Hash["name" => "mark aldham", "subtext" => "developer", "image" => "default_user_profile.png"],
       ].each_with_index do |person, i| %>
        <div class="span4 clearfix">
            <%= render(:partial => "users/shared/user_span", :locals => { :name => person["name"], :subtext => person["subtext"], :image => person["image"],
                                                                          :url => person["url"], :urltext => person["urltext"] }) %>
        </div>
     <% if(i%3 == 2) %>
        <div class="clearfix"></div>
     <% end %>
    <% end %>
</div>


<div class="team-join" style="padding: 10px;">
    Want to join our team? Send an email to <%=mail_to("info@flashvolunteer.org", "info@flashvolunteer.org")%>!
</div>
