<%= content_for :title do %>
<div id="title_block">
	<h1>about flash volunteer</h1>
</div>
<% end %>

<div id="middle100">
	<div id="vision" class="hardmodule">              
		<div class="moduletitle">                  
			<h3>our vision</h3>              
		</div>            
		<p>Everyone in Seattle engaged in regular volunteer service.</p>          
	</div>              
	<div class="hardmodule">              
		<div class="moduletitle">                  
			<h3>our mission</h3>              
		</div>            
		<p>Flash Volunteer seeks to build community and increase volunteerism in Seattle through the creation of a sustainable, 
			user-friendly online platform to connect, inspire and mobilize volunteers to effect meaningful change on a neighborhood level. </p>            
		<p>We are a 501(c)3 nonprofit organization.</p>            
		<p>The source code we are developing is an open source <strong>project</strong>. 
		<%=link_to("Join the effort!", "http://code.google.com/p/flashvolunteer/")%></p>          
	</div>            
	<div class="hardmodule">              
		<div class="moduletitle">                  
			<h3>board of directors</h3>              
		</div>
		<div class="staff_group">
		<u1>
			<li>
				<div class="staff_block">
					<div class="staff_pic">
						<a target="_blank" href="http://www.flashvolunteer.org/volunteers/22838/avatar">
								<%=image_tag("default-profile-pic-small.png", 
											:class => "staff_avatar")%>
							</a>
						</div>
						<div class="staff_desc">
							<div class="staff_name">
								<%=link_to("holly wyrwich", "http://www.flashvolunteer.org/volunteers/22838")%>
							</div>
							<div class="staff_role">president</div>
						</div>
					<div class="cl"></div>
				</div>
			</li>
			<li>
				<div class="staff_block">
					<div class="staff_pic">
						<a target="_blank" href="http://www.flashvolunteer.org/volunteers/22838/avatar">
								<%=image_tag("default-profile-pic-small.png", 
											:class => "staff_avatar")%>
							</a>
						</div>
						<div class="staff_desc">
							<div class="staff_name">
								<%=link_to("hillary evans", "http://www.flashvolunteer.org/volunteers/22838")%>
							</div>
							<div class="staff_role">vice president</div>
						</div>
					<div class="cl"></div>
				</div>
			</li> 
			<li>
				<div class="staff_block">
					<div class="staff_pic">
						<a target="_blank" href="http://www.flashvolunteer.org/volunteers/22838/avatar">
								<%=image_tag("default-profile-pic-small.png", 
											:class => "staff_avatar")%>
							</a>
						</div>
						<div class="staff_desc">
							<div class="staff_name">
								<%=link_to("adam hitch", "http://www.flashvolunteer.org/volunteers/22838")%>
							</div>
							<div class="staff_role">treasurer</div>
						</div>
					<div class="cl"></div>
				</div>
			</li>            
			<li>
				<div class="staff_block">
					<div class="staff_pic">
						<a target="_blank" href="http://www.flashvolunteer.org/volunteers/22838/avatar">
								<%=image_tag("default-profile-pic-small.png", 
											:class => "staff_avatar")%>
							</a>
						</div>
						<div class="staff_desc">
							<div class="staff_name">
								<%=link_to("janis lee", "http://www.flashvolunteer.org/volunteers/22838")%>
							</div>
							<div class="staff_role">secretary</div>
						</div>
					<div class="cl"></div>
				</div>
			</li>
			</ul>
		</div class="staff_group">
				<div class="staff_group">
		<u1>
			<li>
				<div class="staff_block">
					<div class="staff_pic">
						<a target="_blank" href="http://www.flashvolunteer.org/volunteers/22838/avatar">
								<%=image_tag("default-profile-pic-small.png", 
											:class => "staff_avatar")%>
							</a>
						</div>
						<div class="staff_desc">
							<div class="staff_name">
								<%=link_to("jennifer atkinson", "http://www.flashvolunteer.org/volunteers/22838")%>
							</div>
							<div class="staff_role">director</div>
						</div>
					<div class="cl"></div>
				</div>
			</li>
			<li>
				<div class="staff_block">
					<div class="staff_pic">
						<a target="_blank" href="http://www.flashvolunteer.org/volunteers/22838/avatar">
								<%=image_tag("default-profile-pic-small.png", 
											:class => "staff_avatar")%>
							</a>
						</div>
						<div class="staff_desc">
							<div class="staff_name">
								<%=link_to("logan buesching", "http://www.flashvolunteer.org/volunteers/22838")%>
							</div>
							<div class="staff_role">director</div>
						</div>
					<div class="cl"></div>
				</div>
			</li> 
			<li>
				<div class="staff_block">
					<div class="staff_pic">
						<a target="_blank" href="http://www.flashvolunteer.org/volunteers/22838/avatar">
								<%=image_tag("default-profile-pic-small.png", 
											:class => "staff_avatar")%>
							</a>
						</div>
						<div class="staff_desc">
							<div class="staff_name">
								<%=link_to("melissa collett", "http://www.flashvolunteer.org/volunteers/22838")%>
							</div>
							<div class="staff_role">director</div>
						</div>
					<div class="cl"></div>
				</div>
			</li>            
			<li>
				<div class="staff_block">
					<div class="staff_pic">
						<a target="_blank" href="http://www.flashvolunteer.org/volunteers/22838/avatar">
								<%=image_tag("default-profile-pic-small.png", 
											:class => "staff_avatar")%>
							</a>
						</div>
						<div class="staff_desc">
							<div class="staff_name">
								<%=link_to("joy wilke graf", "http://www.flashvolunteer.org/volunteers/22838")%>
							</div>
							<div class="staff_role">director</div>
						</div>
					<div class="cl"></div>
				</div>
			</li>
			</ul>
		</div class="staff_group">
				<div class="staff_group">
		<u1>
			<li>
				<div class="staff_block">
					<div class="staff_pic">
						<a target="_blank" href="http://www.flashvolunteer.org/volunteers/22838/avatar">
								<%=image_tag("default-profile-pic-small.png", 
											:class => "staff_avatar")%>
							</a>
						</div>
						<div class="staff_desc">
							<div class="staff_name">
								<%=link_to("kenny lee", "http://www.flashvolunteer.org/volunteers/22838")%>
							</div>
							<div class="staff_role">director</div>
						</div>
					<div class="cl"></div>
				</div>
			</li>
			<li>
				<div class="staff_block">
					<div class="staff_pic">
						<a target="_blank" href="http://www.flashvolunteer.org/volunteers/22838/avatar">
								<%=image_tag("default-profile-pic-small.png", 
											:class => "staff_avatar")%>
							</a>
						</div>
						<div class="staff_desc">
							<div class="staff_name">
								<%=link_to("brian nash", "http://www.flashvolunteer.org/volunteers/22838")%>
							</div>
							<div class="staff_role">director</div>
						</div>
					<div class="cl"></div>
				</div>
			</li> 
			<li>
				<div class="staff_block">
					<div class="staff_pic">
						<a target="_blank" href="http://www.flashvolunteer.org/volunteers/22838/avatar">
								<%=image_tag("default-profile-pic-small.png", 
											:class => "staff_avatar")%>
							</a>
						</div>
						<div class="staff_desc">
							<div class="staff_name">
								<%=link_to("deidra ross", "http://www.flashvolunteer.org/volunteers/22838")%>
							</div>
							<div class="staff_role">director</div>
						</div>
					<div class="cl"></div>
				</div>
			</li>            
			<li>
				<div class="staff_block">
					<div class="staff_pic">
						<a target="_blank" href="http://www.flashvolunteer.org/volunteers/22838/avatar">
								<%=image_tag("default-profile-pic-small.png", 
											:class => "staff_avatar")%>
							</a>
						</div>
						<div class="staff_desc">
							<div class="staff_name">
								<%=link_to("brad wilke", "http://www.flashvolunteer.org/volunteers/22838")%>
							</div>
							<div class="staff_role">ex officio</div>
						</div>
					<div class="cl"></div>
				</div>
			</li>
			</ul>
		</div class="staff_group">1
	</div>  
	<div id="staff_list" class="hardmodule">      
		<div class="moduletitle">          
			<h3>our team </h3>      
		</div>            
		<div id="recruitment">          
			Want to join our team? Send an email to <%=mail_to("info@flashvolunteer.org", "info@flashvolunteer.org")%>!      
		</div>      
		<div class="staff_group">              
			<h2 style ="padding-bottom: 10px">operations</h2>              
			<ul>                  
				<li>
					<div class="staff_block">
						<div class="staff_pic">
							<a target="_blank" href="http://www.flashvolunteer.org/volunteers/22838/avatar">
								<%=image_tag("default-profile-pic-small.png", 
											:class => "staff_avatar")%>
							</a>
						</div>
						<div class="staff_desc">
							<div class="staff_name">
								<%=link_to("brad wilke", "http://www.flashvolunteer.org/volunteers/22838")%>
							</div>
							<div class="staff_role">executive director</div>
						</div>
						<div class="cl"></div>
					</div>
				</li>                  
				<li>
					<div class="staff_block">
						<div class="staff_pic">
							<a target="_blank" href="http://www.flashvolunteer.org/volunteers/22838/avatar">
								<%=image_tag("default-profile-pic-small.png", 
											:class => "staff_avatar")%>
							</a>
						</div>
						<div class="staff_desc">
							<div class="staff_name">
								<%=link_to("melissa collett", "http://www.flashvolunteer.org/volunteers/22838")%>
							</div>
							<div class="staff_role">engagement director</div>
						</div>
						<div class="cl"></div>
					</div>
				</li>
			</ul>
		</div>          
		<div class="staff_group">          
			<h2 style ="padding-bottom: 10px">outreach</h2>              
			<ul>                   
				<li>
					<div class="staff_block">
						<div class="staff_pic">
							<a target="_blank" href="http://www.flashvolunteer.org/volunteers/22838/avatar">
								<%=image_tag("default-profile-pic-small.png", 
											:class => "staff_avatar")%>
							</a>
						</div>
						<div class="staff_desc">
							<div class="staff_name">
								<%=link_to("holly wyrwich", "http://www.flashvolunteer.org/volunteers/22838")%>
							</div>
							<div class="staff_role">marketing director</div>
						</div>
						<div class="cl"></div>
					</div>
				</li>
				<li>
					<div class="staff_block">
						<div class="staff_pic">
							<a target="_blank" href="http://www.flashvolunteer.org/volunteers/38802/avatar">
								<%=image_tag("default-profile-pic-small.png", 
											:class => "staff_avatar")%>
							</a>
						</div>
						<div class="staff_desc">
							<div class="staff_name">
								<%=link_to("evita almassi", "http://www.flashvolunteer.org/volunteers/38802")%>
							</div>
							<div class="staff_role">social media director</div>
						</div>
						<div class="cl"></div>
					</div>
				</li>
				<li>
					<div class="staff_block">
						<div class="staff_pic">
							<a target="_blank" href="http://www.flashvolunteer.org/volunteers/38802/avatar">
								<%=image_tag("default-profile-pic-small.png", 
											:class => "staff_avatar")%>
							</a>
						</div>
						<div class="staff_desc">
							<div class="staff_name">
								<%=link_to("jennifer atkinson", "http://www.flashvolunteer.org/volunteers/38802")%>
							</div>
							<div class="staff_role">grant consultant</div>
						</div>
						<div class="cl"></div>
					</div>
				</li>
			</ul>
		</div>
		<div class="staff_group">          
			<h2 style ="padding-bottom: 10px">technical</h2>              
			<ul>                   
				<li>
					<div class="staff_block">
						<div class="staff_pic">
							<a target="_blank" href="http://www.flashvolunteer.org/volunteers/22838/avatar">
								<%=image_tag("default-profile-pic-small.png", 
											:class => "staff_avatar")%>
							</a>
						</div>
						<div class="staff_desc">
							<div class="staff_name">
								<%=link_to("logan buesching", "http://www.flashvolunteer.org/volunteers/22838")%>
							</div>
							<div class="staff_role">development director</div>
						</div>
						<div class="cl"></div>
					</div>
				</li>
				<li>
					<div class="staff_block">
						<div class="staff_pic">
							<a target="_blank" href="http://www.flashvolunteer.org/volunteers/38802/avatar">
								<%=image_tag("default-profile-pic-small.png", 
											:class => "staff_avatar")%>
							</a>
						</div>
						<div class="staff_desc">
							<div class="staff_name">
								<%=link_to("janis lee", "http://www.flashvolunteer.org/volunteers/38802")%>
							</div>
							<div class="staff_role">development director</div>
						</div>
						<div class="cl"></div>
					</div>
				</li>
			</ul>
		</div>
	</div>      
</div>