<h3>our vision</h3>              
<p>Everyone in Seattle engaged in regular volunteer service.</p>          
<h3>our mission</h3>              
<p>Flash Volunteer seeks to build community and increase volunteerism in Seattle through the creation of a sustainable, user-friendly online platform to connect, inspire and mobilize volunteers to effect meaningful change on a neighborhood level. </p>            
<p>We are a 501(c)3 nonprofit organization.</p>            
<p>The source code we are developing is an open source project. <%=link_to("Join the effort!", "http://github.com/agoln/FlashVolunteer")%></p>          
<h3>board of directors</h3>
<div class="row">
	<div class="span4">
		<%=image_tag("default-profile-pic-small.png", :class => "pull-left padright-2")%>
		<div>
			<h4>holly wyrwich</h4>
			<i>president</i>
		</div>
	</div>
	<div class="span4">
		<%=image_tag("default-profile-pic-small.png", :class => "pull-left padright-2")%>
		<div>
			<h4>jennifer atkinson</h4>
			<i>director</i>
		</div>
	</div>
	<div class="span4">
		<%=image_tag("default-profile-pic-small.png", :class => "pull-left padright-2")%>
		<div>
			<h4>kenny lee</h4>
			<i>director</i>
		</div>
	</div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
	<div class="span4">
		<%=image_tag("default-profile-pic-small.png", :class => "pull-left padright-2")%>
		<div>
			<h4>holly wyrwich</h4>
			<i>president</i>
		</div>
	</div>
	<div class="span4">
		<%=image_tag("default-profile-pic-small.png", :class => "pull-left padright-2")%>
		<div>
			<h4>jennifer atkinson</h4>
			<i>director</i>
		</div>
	</div>
	<div class="span4">
		<%=image_tag("default-profile-pic-small.png", :class => "pull-left padright-2")%>
		<div>
			<h4>kenny lee</h4>
			<i>director</i>
		</div>
	</div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
	<div class="span4">
		<%=image_tag("default-profile-pic-small.png", :class => "pull-left padright-2")%>
		<div>
			<h4>holly wyrwich</h4>
			<i>president</i>
		</div>
	</div>
	<div class="span4">
		<%=image_tag("default-profile-pic-small.png", :class => "pull-left padright-2")%>
		<div>
			<h4>jennifer atkinson</h4>
			<i>director</i>
		</div>
	</div>
	<div class="span4">
		<%=image_tag("default-profile-pic-small.png", :class => "pull-left padright-2")%>
		<div>
			<h4>kenny lee</h4>
			<i>director</i>
		</div>
	</div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
	<div class="span4">
		<%=image_tag("default-profile-pic-small.png", :class => "pull-left padright-2")%>
		<div>
			<h4>holly wyrwich</h4>
			<i>president</i>
		</div>
	</div>
	<div class="span4">
		<%=image_tag("default-profile-pic-small.png", :class => "pull-left padright-2")%>
		<div>
			<h4>jennifer atkinson</h4>
			<i>director</i>
		</div>
	</div>
	<div class="span4">
		<%=image_tag("default-profile-pic-small.png", :class => "pull-left padright-2")%>
		<div>
			<h4>kenny lee</h4>
			<i>director</i>
		</div>
	</div>
</div>
<div class="row">&nbsp;</div>
<h3>our team</h3>
<p>Want to join our team? Send an email to <%=mail_to("info@flashvolunteer.org", "info@flashvolunteer.org")%>!</p>
<div class="row">
	<div class="span4">
		<h4>operations</h4>
	</div>
	<div class="span4">
		<h4>outreach</h4>
	</div>
	<div class="span4">
		<h4>technical</h4>
	</div>
</div>
