<h3>our vision</h3>
<p>Everyone engaged in volunteer service.</p>
<h3>our mission</h3>
<p>Flash Volunteer seeks to build community and increase volunteerism through the creation of a sustainable, user-friendly online platform to connect, inspire and mobilize volunteers to effect meaningful change on a neighborhood level. </p>
<p>We are a 501(c)3 nonprofit organization and the code we are developing is open source.</p>
<h3>board of directors</h3>
<div class="row">
    <% [
          Hash["name" => "janis buesching", "subtext" => "president", "image" => "board/janis.jpg", "myurl" => "http://www.flashvolunteer.org/about"],
          Hash["name" => "ayesha ghaffar", "subtext" => "vice president", "image" => "board/ayesha.jpg", "myurl" => "http://www.flashvolunteer.org/users/30373"],
          Hash["name" => "holly wyrwich", "subtext" => "director", "image" => "board/holly.jpg", "myurl" => "http://www.flashvolunteer.org/users/31"],
          Hash["name" => "alex sunell", "subtext" => "treasurer", "image" => "board/alex.png", "myurl" => "http://www.flashvolunteer.org/about"],
          Hash["name" => "brian nash", "subtext" => "secretary", "image" => "board/brian.png", "myurl" => "http://www.flashvolunteer.org/users/41"],
          Hash["name" => "logan buesching", "subtext" => "director", "image" => "board/logan.jpg", "myurl" => "http://www.flashvolunteer.org/users/1"],
          Hash["name" => "tyler walker", "subtext" => "director", "image" => "board/tyler.jpg", "myurl" => "http://www.flashvolunteer.org/users/38231"],
       ].each_with_index do |person, i| %>
        <div class="col-md-4 clearfix">
            <%= link_to render(:partial => "users/shared/user_span", :locals => { :name => person["name"], :subtext => person["subtext"], :image => person["image"],
                                                                          :url => person["url"], :urltext => person["urltext"] }), person["myurl"] %>
        </div>
     <% if(i%3 == 2) %>
        <div class="clearfix"></div>
     <% end %>
    <% end %>
</div>


<h3>advisory board</h3>
<div class="row">
  <% [  Hash["name" => "brad wilke", "subtext" => "Flash Volunteer co-founder", "image" => "board/Brad.png", "myurl" => "http://www.flashvolunteer.org/users/21"],
        Hash["name" => "kenny lee", "subtext" => "Flash Volunteer co-founder", "image" => "board/kenny.png", "myurl" => "http://www.flashvolunteer.org/users/11"],
     ].each_with_index do |person, i| %>
  <div class="col-md-4 clearfix">
    <%= link_to render(:partial => "users/shared/user_span", :locals => { :name => person["name"], :subtext => person["subtext"], :image => person["image"],
                                                                          :url => person["url"], :urltext => person["urltext"] }), person["myurl"] %>
  </div>
  <% if(i%3 == 2) %>
    <div class="clearfix"></div>
  <% end %>
  <% end %>
</div>




<div class="row">&nbsp;</div>
<h3>operations</h3>
<div class="row">
    <div class="col-md-4">
        <div class="team-name"></div>
                <% [  Hash["name" => "charlie", "subtext" => "communications", "image" => "board/charlie.png",
                           "urltext" => "who is charlie?", "url" => "http://blog.flashvolunteer.org/post/49490365908/if-you-have-ever-received-an-email-from-flash",
                           "myurl" => "http://www.flashvolunteer.org/about"],
                   ].each_with_index do |person, i| %>
                   <div class="clearfix">
                   <%=link_to render(:partial => "users/shared/user_span", :locals => { :name => person["name"], :subtext => person["subtext"], :image => person["image"],
                                                                                        :url => person["url"], :urltext => person["urltext"] }), person["myurl"] %>
                   </div>
                <% end %>
    </div>
    <div class="col-md-4">
        <div class="team-name"></div>
            <% [  Hash["name" => "brad wilke", "subtext" => "outreach", "image" => "board/Brad.png", "myurl" => "http://www.flashvolunteer.org/users/21"],
               ].each_with_index do |person, i| %>
                <div class="clearfix">
                <%=link_to render(:partial => "users/shared/user_span", :locals => { :name => person["name"], :subtext => person["subtext"], :image => person["image"],
                                                                                     :url => person["url"], :urltext => person["urltext"] }), person["myurl"]%>
                </div>
            <% end %>
    </div>
</div>

<h3>technical team</h3>
<div class="row">
    <% [
                Hash["name" => "logan buesching", "subtext" => "development director", "image" => "board/logan.jpg", "myurl" => "http://www.flashvolunteer.org/users/1"],
                Hash["name" => "janis buesching", "subtext" => "design director", "image" => "board/janis.jpg", "myurl" => "http://www.flashvolunteer.org/users/about"],
                Hash["name" => "ayesha ghaffar", "subtext" => "interaction designer", "image" => "board/ayesha.jpg","myurl" => "http://www.flashvolunteer.org/users/30373"],
                Hash["name" => "holly wyrwich", "subtext" => "content publisher", "image" => "board/holly.jpg","myurl" => "http://www.flashvolunteer.org/users/31"],
                Hash["name" => "philip ries", "subtext" => "developer", "image" => "board/phillip.png","myurl" => "http://www.flashvolunteer.org/users/28483"],
                Hash["name" => "tony he", "subtext" => "developer", "image" => "board/tony.png","myurl" => "http://www.flashvolunteer.org/users/28153"],
                Hash["name" => "tyler walker", "subtext" => "developer", "image" => "board/tyler.jpg","myurl" => "http://www.flashvolunteer.org/users/38231"],
                Hash["name" => "conner brennick", "subtext" => "developer", "image" => "board/conner.jpg","myurl" => "http://www.flashvolunteer.org/users/39171"],
                Hash["name" => "des marks", "subtext" => "developer", "image" => "board/des.jpg","myurl" => "http://www.flashvolunteer.org/users/40771"],
                Hash["name" => "taryn burns", "subtext" => "developer", "image" => "board/taryn.jpg","myurl" => "http://www.flashvolunteer.org/users/39401"],
                Hash["name" => "mark aldham", "subtext" => "developer", "image" => "board/mark.jpg","myurl" => "http://www.flashvolunteer.org/about"],
       ].each_with_index do |person, i| %>
        <div class="col-md-4 clearfix">
            <%=link_to render(:partial => "users/shared/user_span", :locals => { :name => person["name"], :subtext => person["subtext"], :image => person["image"],
                                                                                 :url => person["url"], :urltext => person["urltext"] }), person["myurl"]%>
        </div>
     <% if(i%3 == 2) %>
        <div class="clearfix"></div>
     <% end %>
    <% end %>
</div>


<div class="team-join" style="padding: 10px;">
    Want to join our team? Send an email to <%=mail_to("info@flashvolunteer.org", "info@flashvolunteer.org")%>!
</div>
