<% content_for :title do %>
<div id="title_block">
	<h1>Our Partners</h1>
</div>
<% end %>
<div id="middle100">
	<p>Flash Volunteer is built and run entirely by volunteers. 
	We also have a growing number of community partners that have 
	lent a hand from time to time. If you would like to become one 
	of them, please let us know: <%mail_to("info@flashvolunteer.org", "info@flashvolunteer.org")%></p>
</div>
<!--First partner logo-->
<table id="partners">
    <tr class="logos">
        <td><%= image_tag("partners/somethingtogive_logo.jpg") %></td>
        <td><%= image_tag("partners/emicus_logo.gif") %></td>
    </tr>
    <tr>
        <td><a>SomethingtoGive</a> A new Seattle nonprofit that provides a venue for people to 'spend' credits they have earned volunteering to 'buy' rewards that are offered by others.</td>
        <td><a>Emicus</a> is a web platform where people can receive and share critical disaster information. It was created by a group of fellow Seattleites and we're looking for ways to work together in the future.</td>
    </tr>
    <tr class="logos">
        <td><%= image_tag("partners/allforgood_logo.gif") %></td>
        <td><%= image_tag("partners/ubermind-logo.gif") %></td>
    </tr>
    <tr>
        <td><a>All for Good</a> We import some events from All for Good (via their API feed) to help ensure we have a wide variety of volunteer activities for people to sign up for.</td>
        <td><a>&Uuml;bermind</a> is a Seattle-area software consulting firm specializing in mobile social software. They are developing our iPhone application...pro bono.</td>
    </tr>
    <tr class="logos">
        <td><%= image_tag("partners/internmatch_logo.png")%></td>
        <td><%= image_tag("partners/dogoodr_logo.jpg")%></td>
    </tr>
    <tr>
        <td><a>InternMatch</a> Looking for an intern and not a volunteer? Then please check out InternMatch, a site dedicated to connecting interns to nonprofits and small businesses in Seattle.</td>
        <td> <a>DoGoodr</a> is a new user-driven online foundation for nonprofits to post needs (e.g. donations, interns) and find community members to fulfill them.</td>
    </tr>
    <tr class="logos">
        <td><%= image_tag("partners/cokj_logo.gif")%></td>
        <td></td>
    </tr>
    <tr>
        <td><a>Christensen O'Connor Johnson Kindness, PLLC</a> The law firm that graciously reviews our contracts and provides pro bono legal advice. Special thanks to Peter Chu.</td>
        <td></td>
    </tr>
</table>
