<div id="leftthirdequi">
	<div class="moduletitle">
		<h2>There are <%= @users.count %> new users</h2>
	</div>
	<%= render @users %>
</div>
<div id="middlethirdequi">
	<div class="moduletitle">
		<h2>There are <%= @events.count %> new events</h2>
	</div>
	<%= render @events %>
</div>
<div id="rightthirdequi">
	<div class="moduletitle">
		<h2>There are <%= @orgs.count %> organizations in need of help</h2>
	</div>
	<%= render @orgs %>
</div>
