<div class="row-fluid">
    <div class="span12">
        <h1><%= @event.name %></h1>
        <p>
            <%= @event.start.strftime('%-m/%-d/%Y') unless !@event.start %> <%= @event.start.strftime('%l:%M%p') unless !@event.start %>-<%= @event.end.strftime('%l:%M%p') unless !@event.end %><br/>
            <%= @event.street %>, <%= link_to(@event.neighborhood.name, (events_url.concat("/in/").concat(@event.neighborhood.name))) %><br/>
            <%= render(:partial => 'events/links', :locals => { :event => @event }) %>
        </p>
        <%= form_for(@checkin, :url=>checkin_event_url(@event), :method=>:POST) do |f| %>
        <form action="<%= confirm_event_url(@event) %>" method="POST">
            <div class="row-fluid">
                <div class="span1">
                    <%= f.label(:name, "name") %>
                </div>
                <div class="span8">
                    <%= f.text_field(:name, :class=>"full") %>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span1">
                    <%= f.label(:email, "email") %>
                </div>
                <div class="span8">
                    <%= f.text_field(:email, :class=>"full") %>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span1">
                    &nbsp;
                </div>
                <div class="span8">
                    <%= f.submit("check in", :class=>"btn btn-primary pull-right") %>
                </div>
            </div>
        <% end %>
    </div>
</div>