<div class="row-fluid">
    <div class="span12">
        <h3>event volunteers (<%= @event.participants.count %>) 
            <% if can? :edit, Event %>
                <span class="pull-right" style="padding-right: 10px">
                    <a href="javascript:revealModal('contact_users')" style="color:white">Contact Attendees</a>
                </span>
                <%= render(:partial => "contact_users") %>
            <% end %>
        </h3>
    </div>
</div>
<% if @event.participants.count > 0 %>
    <ul class="unstyled">
    <% @event.participants.each do |p| %>
        <li>
            <div class="row-fluid">
                <div class="span2">
                    <%= photo_link(p.avatar, :thumb, user_url(p)) %>
                </div>
                <div class="span10" style="padding-top:6px">
                    <%= link_to(p.name, user_url(p)) %>
                </div>
            </div>
        </li>
    <% end %>
    </ul>
<% else %>
    <% if @event.user == current_user %>
        there are no volunteers signed up yet
    <% else %>
        there are no volunteers signed up yet, but you can be the first!
        <%= link_to("sign up now!", register_event_url(@event), :method => :post) %>
    <% end %>
<% end %>