<%
	page_type ||= :webpage
    badge_size ||= "small"
%>

<h1><%= @event.name %></h1>
<p>
    <%= @event.start.strftime('%-m/%-d/%Y') unless !@event.start %> | <%= @event.start.strftime('%l:%M%p') unless !@event.start %>-<%= @event.end.strftime('%l:%M%p') unless !@event.end %><br/>
</p>
<div class="row-fluid">
    <div class="span12">
        <span><%= render :partial => "skills/strip", :locals => { :entity => @event, :size => badge_size } %></span>
    </div>
</div>
<p>
    <%= @event.street %>, <%= link_to(@event.neighborhood.name, (events_url.concat("/in/").concat(@event.neighborhood.name))) unless !@event.name %><br/>
    <%= render(:partial => 'links', :locals => { :event => @event }) %>
<% if @event.website != '' %>
<div class="row-fluid">
    <div class="pull-left"><%= link_to("visit event website", @event.website, :target=>"_blank") %></div>
</div>
<% end %>
</p>
<% if @event.upcoming? %>
<div class="row-fluid">
    <div class="span7">
    	<% if page_type != :webpage %>
        	<%= render(:partial => 'share', :locals => { :event => @event, :size => :small }) %>
		<% else %>
        	<%= render(:partial => 'share', :locals => { :event => @event, :size => :large }) %>
    	<% end %>
    </div>

    <div class="span5">
        <div class="pull-right"><%= link_to("add to my calendar", export_event_url(@event)) %></div>
    </div>
</div>
<% end %>