<!-- If have access, Edit/Delete Events -->
<% if can? :edit, @event %>
    <%= link_to '<i class="icon-pencil"></i> Edit'.html_safe, edit_event_url, :class => "btn" %>
    <%= link_to '<i class="icon-plus"></i> Clone'.html_safe, clone_event_url, :class => "btn" %>
    <%= link_to '<i class="icon-white icon-trash"></i> Delete'.html_safe, event_url(@event), :confirm => "Are you sure you want to delete this event?", :method=>"delete", :class => "btn btn-danger" %>
    <div class="row-fluid">&nbsp;</div>
<% end %>

<!-- Signup/Cancel/Signin Events -->
<% if (@event.user != current_user || !@event.hosted_by.blank?) %>
    <% if (@event.attending?(current_user)) %>
        <% if @event.past? %>
            <%= link_to '<br><i class="icon-white icon-remove"></i>&nbsp;&nbsp;Missed the Event<br>&nbsp;'.html_safe, register_event_url(@event), :method=> :delete, :class => "btn btn-warning btn-large" %>
        <% else %>
            <%= link_to '<br><i class="icon-white icon-remove"></i>&nbsp;&nbsp;I Can\'t Participate<br>&nbsp;'.html_safe, register_event_url(@event), :method=> :delete, :class => "btn btn-warning btn-large" %>
        <%end%>
    <% else %>
        <%= link_to '<br><i class="icon-white icon-ok"></i>&nbsp;&nbsp;Sign Me Up!<br>&nbsp;'.html_safe, register_event_url, :method=> :post, :class => "btn btn-success btn-large" %>
    <% end %>
    <% if (@event.near_happening) && current_user %>
        <%= link_to '<br><i class="icon-white icon-thumbs-up"></i>&nbsp;&nbsp;Check In<br>&nbsp;'.html_safe, checkin_user_url(current_user, @event), :method=>:put, :class => "btn btn-primary btn-large" %>
    <% end %>
    <div class="event-calendar-export"><p><%=link_to '<i class="icon-calendar"></i>&nbsp;&nbsp;Export to Calendar'.html_safe, export_event_url(@event) %></p>
    </div>
<% end %>

<!-- If have access, Edit/Delete Events -->
<% if can? :edit, @event %>
    <%= link_to '<i class="icon-print"></i>&nbsp;&nbsp;Sign-in Sheet'.html_safe, print_event_url(@event), :method=>"get", :class => "btn btn-large" %>
    <a href="javascript:revealModal('contact_users')" class="btn btn-info btn-large"><i class="icon-white icon-envelope"></i> Contact Attendees</a>
    <%= render(:partial => "contact_users") %>
<% end %>

