<% unless @event.is_vm %>
    <div class="row-fluid">
        <div class="span12">
            <h3>event volunteers (<%= @event.participants.count(:all) %>)</h3>
        </div>
    </div>
    <% if !@event.participants.empty? %>
        <ul class="unstyled">
        <% @event.participants.each do |p| %>
            <li>
                <div class="row-fluid">
                    <div class="span1">
                        <%= photo_link(p.avatar, :thumb, user_url(p)) %>
                    </div>
                    <div class="span11">
                        <%= link_to(p.name, user_url(p)) %> - <%= p.hours_volunteered(@event) %> hours logged
                    </div>
                </div>
            </li>
        <% end %>
        </ul>
    <% else %>
        <% if @event.user == current_user %>
            there are no volunteers signed up yet
        <% else %>
            <% if @event.limited_spots? && !@event.full? %>
                there only <%= @event.open_spots %> spots left,
                <%= link_to("sign up now!", register_event_url(@event), :method => :post) %>
            <% elsif  @event.full? %>
                this event is full, maybe next time?
            <% else %>
                <%= link_to("sign up now!", register_event_url(@event), :method => :post) %>
            <% end %>
        <% end %>
    <% end %>
<% end %>