<% 
	description ||= :none
	signUpButton ||= false
	showLinks ||= false
%>
<div class="event-summary">
	<%= link_to(truncate(event.name, :length=>30, :separator=>' '), event) %><br/>

	<div class="row-fluid">
		<div class="span12">
			<span><%= render :partial => "skills/strip", :locals => { :entity => event, :size => "small" } %></span>
			<% if signUpButton %>
				<span style="float:right"><%= button_to("sign up", register_event_url(event), :method=> :post, :class => "btn btn-primary block")  %></span>
			<% end %>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<span><%= event.start.strftime('%B, %-d %Y') %></span>
			<span class="pull-right"><%= event.start.strftime('%l:%M%p') %> - <%= event.end.strftime('%l:%M%p') %></span>
		</div>
	</div>
	<% if description != :none %>
		<div class="row-fluid">
			<div class="span12">
				<%= 
					length = 60;
				    # Use this switch to support more sizes
					case description
						when :medium
							length = 120
						when :full
							length = 0
					end
					truncate(event.description, :length=>length, :separator=>' ')
				%>
			</div>
		</div>
	<% end %>
	<% if showLinks %>
		<div class="row-fluid">
			<div class="span12"><%= render(:partial => 'events/links', :locals => { :event => event }) %></div>
		</div>
	<% end %>
</div>