

<section class="hero">

<div class="container">
  <div class="dropdown pull-left" id="neighborhood-list">
    <span class="map_subtitle">events near</span> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="map_title"><%= @current_location.name %></span><b class="caret" id="map-caret"></b></a>
    <div class="dropdown-menu" id="neighborhood-selection">
      <% Hub.all.sort_by(&:name).each do |hub| %>
          <li><%=link_to("#{hub.name}", "/#{hub.name}/events/featured")%></li>
      <% end %>
    </div>
  </div>
  <div class="clearfix"></div>
    <article id="featured-carousel" class="row-fluid">
        <div class="span8">
            <figure>
                <div class="featured-banner">Featured</div>
                <div id="featured-events" class="carousel slide img-polaroid"><!-- class of slide for animation -->
                    <ol class="carousel-indicators">
                        <% @events.each_with_index do |event, i| %>
                            <li data-target="#featured-events" data-slide-to="<%=i %>" class="<%= "active" if i == 0 %>"></li>
                        <% end %>
                    </ol>
                    <div class="carousel-inner">
                        <% @events.each_with_index do |event, i| %>
                          <div class="item <%= "active" if i == 0 %>">
                            <a href="<%= event_path(event) %>"><%= image_tag event.photo_featured.url(:featured), :style => "height: 350px" %></a>
                            <div class="carousel-caption">
                              <h2><%= link_to event.name, event %></h2>
                              <p><span class="carousel-date"><%= event.start.strftime("%-B #{event.start.day.ordinalize}") %> </span>
                              <% if event.neighborhood %> in <span class="carousel-neighborhood"><%=  event.neighborhood.name %></span><% end %></p>
                            </div>
                          </div>
                        <% end %>
                    </div> <!-- /.carousel-inner -->
                    <a class="carousel-control left" href="#featured-events" data-slide="prev">&lsaquo;</a>
                    <a class="carousel-control right" href="#featured-events" data-slide="next">&rsaquo;</a>
                </div> <!-- /.carousel -->
                <figcaption class="featured_badges">
                    <% @events.each_with_index do |event, i| %>
                      <div class="item <%= "hide" if i != 0 %>" id="carousel-badges-<%=i %>">
                        <div class="row-fluid">
                            <p class="featured">
                                <% if event.description.length > 450 %>
                                    <%= truncate(event.description, :length=>450, :separator => ' ') %>
                                    <%= link_to "Read More", event %>
                                <% else %>
                                    <%= event.description %>
                                <% end %>
                            </p>
                        </div>
                      </div>
                    <% end %>
                </figcaption><!-- Badges under the main carousel -->
            </figure><!-- /.featured-carousel-->
        </div><!-- /.span8-->
        <div class="span4">
            <% @events.each_with_index do |event, i| %>
            <div class="item <%= "hide" if i != 0 %>" id="carousel-<%=i %>">
                <a href="<%= event_url(event) %>" class="btn btn-large btn-warning">
                    <h2>Sign Up Now!</h2>
                    <div class="countdown">
                        <div class="countdownTitle">Countdown</div>
                        <p id="countdownTime-<%= i %>">&nbsp;</p>
                    </div>
                    <script type="text/javascript">
                        $(window).load(function() {
                            setInterval(function() {
                                $("#countdownTime-<%= i %>").text(countdownString(new Date(<%= @events[i].start.to_i*1000 %>)));
                            }, 100);
                        })
                    </script>
                </a> <!-- This is the big "Sign Up Now!" button -->

                <!--Section under 'Sign Up Now!' button that has date, address, and description -->
                <div class="event-date-loc">
                    <p><%= event.start.strftime('%-I:%M%P') %> - <%= event.end.strftime('%-I:%M%P') %></p>
                    <p><%= event.start.strftime('%-A, %-B %-d, %Y') %></p>

                    <%= link_to event.geocode_address, "https://maps.google.com/?q=#{event.geocode_address}" %>
                </div>
              <% if @current_sponsor != nil %>
                   <div class="sponsor">
                        <h3>Sponsor<span class="arrow-left"></span><span class="arrow-right"></span></h3>
                        <a href="<%= @current_sponsor.url  %>">
                          <%= image_tag @current_sponsor.logo.url(:small), :alt => @current_sponsor.name %>
                        </a>
                        <p><%= @current_sponsor.description %></p>
                    </div><!-- /.sponsor -->
              <% end %>
            </div><!-- /.item -->
            <% end %>
            <script type="text/javascript">
                $(function() {
                    $('body').on('slide', function (e) {
                        var prevIndex = $('#featured-events .active').index('#featured-events .item');
                        var nextIndex = $(e.relatedTarget).index('#featured-events .item');
                        $("#carousel-" + prevIndex).hide();
                        $("#carousel-badges-" + prevIndex).hide();
                        $("#carousel-" + nextIndex).show();
                        $("#carousel-badges-" + nextIndex).show()
;                    });
                });
            </script>
        </div><!-- /.span4-->
    </article><!-- /#featued-carousel .class-->
</div>
</section>

<!-- Middle section with other event data -->
<section class="featured-middle">
    <div class="container">
        <h2>
            <span class="bigNumEvents"><%= link_to number_with_delimiter(Event.near_user(@current_location).after(DateTime.now).count), events_url(current_location_name)%></span> events available. <%= link_to "Click to browse!", events_url(current_location_name)%><br>
            Join community of over <span class="bigNumVolunteers"><%= number_with_delimiter(User.count)  %></span> volunteers!
        </h2>
    </div>
</section>