<div id="event">
	<%= form_for(@event, :html => {:id => "newevent"}) do |f| %>
		<% if @event.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

				<ul>
				<% @event.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
				</ul>
			</div>
		<% end %>

	<div class="field">
		<%= f.label :name, "Event Name" %>
		<%= f.text_field :name %>
	</div>
	<div>
		<label for="street_address">Address</label>
		<input type="text" name="street_address"/>
	</div>
	<div>
		<span class="leftspan">
			<label for="zip">Zip Code</label>
			<input type="text" name="zip" style="width: 310px"/>
		</span>
		<span class="rightspan">
			<div class="field">
				<%= collection_select(:event, :neighborhood_id, Neighborhood.all, :id, :name, {:include_blank => "Choose a neighborhood" }) %>
			</div>
		</span>
	</div>

	<div class="field">
		<%= f.label :user, "Contact email" %>
		<%= collection_select(:event, :creator_id, User.all, :id, :email) %>
	</div>

	<div>
		<span class="">
			<div class="field">
				<%= f.label :start, "Start date", :html => {:style => "clear: left, width: 420 px, float: left"} %>
				<%= f.datepicker(:start) %>
			</div>

		<span class="rightspan">
			<label for="startdates">Start time</label>
			<select name="starttimes">
				<option value="1PM">1:00 PM</option>
				<option value="2PM">2:00 PM</option>
				<option value="3PM">3:00 PM</option>
				<option value="4PM">4:00 PM</option>
			</select>
		</span>
	</div>
	<div>
		<span class="">
			<div class="field">
				<%= f.label :end, "End date", :html => {:style => "clear: left, width: 420 px, float: left"}%>
				<%= f.datepicker :end%>
			</div>
		</span>
		<span class ="rightspan">
		</span>
	</div>

	<div class="field">
		<%= f.label :description %>
		<%= f.text_area :description %>
	</div>
	
	<div style="clear:both;"> </div>
	<div class="share">
		<ul>
			<li>Promote via:</li>
			<li class="badge">
				<a target="_blank" href="">
					<%= image_tag("twitter_icon_32x32.png", 
						:id=>"twitter-badge-img", 
						:alt=>"Follow us on Twitter",
						:onmousedown => "this.className='tw_down32'",
						:onmouseover => "this.className='tw_hover32'",
						:onmouseup   => "this.className='tw_normal32'",
						:onmouseout  => "this.className='tw_normal32'")%>
				</a>                     
			</li>
			<li class="badge">
				<a target="_blank" href="">
					<%= image_tag("facebook-icon_normal32.png",
						:id=>"fb-badge-img",
						:alt=>"Find us on Facebook",
						:onmousedown => "this.className='fb_down32'",
						:onmouseover => "this.className='fb_hover32'",
						:onmouseup   => "this.className='fb_normal32'",
						:onmouseout  => "this.className='fb_normal32'")%>
				</a>
			</li>
			
		</ul> 
	</div> 	
	<a href="neighborhoods.html">
		<div id="splash_button" class="fr actions">
			<%= f.submit :html => {:style => "width: 30px"}%>
		</div>
	</a>
	<% end %>
</div><!--end content-->