<div id="event">
	<%= form_for(@event, :html => {:id => "newevent", :name => "event_form"}) do |f| %>
		<% if @event.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

				<ul>
				<% @event.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
				</ul>
			</div>
		<% end %>

        <div class="full">
            <div class="fl">
                <%= f.label :name, "Event Name"%>
            </div>
            <div class="fr">
                <%= f.text_field :name%>
            </div>
        </div>
        <div class="full clear">
            <div class="fl">
                <%= f.label :address, :for=>"event_street" %>
            </div>
            <div class="fr">
                <%= f.text_field :street %>
            </div>
        </div>
        <div class="full clear">
            <div class="fl">
                <%= f.label :zip, "Zip code"%>
            </div>
            <div class="fl">
                <%= f.text_field :zip, :class=>"half"%>
            </div>
            <div class="fr">
                <%= f.collection_select(:neighborhood_id, Neighborhood.all, :id, :name, {:include_blank => "Choose a neighborhood" },  :class=>"half") %>
            </div>
        </div>
        <div class="full clear">
            <div class="fl">
                <%= f.label :start, "Start time"%>
            </div>
            <div class="fl">
                <input id="startdate" class="half" name="startdate" value="<%= @event.start.strftime('%-m/%-d/%Y') unless !@event.start %>" />
                <script type="text/javascript">
                $(document).ready(function() { $('#startdate').datepicker({dateFormat: 'm/d/yy'})});
                </script>
            </div>
            <div class="fl padleft">
                <%= f.time_select(:start, :minute_step => 15) %>
            </div>
            <div class="fl padleft">
            until 
            </div>
            <div class="fl padleft">
                <%= f.time_select(:end, :minute_step => 15) %>
            </div>
        </div>

        <div class="full clear">
            <div class="fl">
                <%= f.label :description %>
            </div>
            <div class="fr">
                <%= f.text_area :description %>
            </div>
        </div>
        
        <div class="clear"></div>
        
        <% link_to("#", :onclick => "submitForm('event_form')", :class => "large_button") do %>
            <%= @event.new_record? ? "Create" : "Edit" %> Event
        <% end %>
	<% end %>
</div><!--end content-->