<%= form_for(@event, :html => {:id => "form", :name => "event_form"}) do |f| %>
    <% if can? :manage, :rails_admin %>
        <div class="row-fluid">
            <div class="span2">
                <div class="pull-right"><%= f.label :featured, "Featured" %></div>
            </div>
            <div class="span10">
                <div class="span6">
                    <div class="pull-left">
                        <%= f.check_box :featured %>
                    </div>
                    <div style="padding-left: 20px">
                        <%= f.label :featured, "featured" %>
                    </div>
                </div>
                <div class="span6">
                    <%= f.file_field :photo_featured %>
                </div>
            </div>
        </div>
        <%= f.hidden_field :vm_id %>
    <% end %>
    <div class="row-fluid">
        <div class="span2">
            <div class="pull-right"><%= f.label :name, "event name"%></div>
        </div>
        <div class="span10">
            <%= f.text_field :name, :class=>"full"%>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2">
            <div class="pull-right"><%= f.label :name, "contact info"%></div>
            <input type="text" style="visibility:hidden; width: 0px"/>
        </div>
        <div class="span3">
            <div class="row-fluid">
                <div class="span6">
                    <input type="radio" name="hosted" class="pull-left" id="hosted_by_me" <%= "checked" if @event.hosted_by_user %> />
                    <label for="hosted_by_me">&nbsp;use mine</label>
                </div>
                <div class="span6">
                    <input type="radio" name="hosted" class="pull-left" id="hosted_by_someone" <%= "checked" if !@event.hosted_by_user %>/><label for="hosted_by_someone">&nbsp;use this instead</label>
                </div>
            </div>
        </div>
        <div class="span7">
            <%= f.text_field :hosted_by, :class=>"full ".concat(@event.hosted_by_user ? "hidden" : ""), :id => "someone_else"%>
        </div>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#hosted_by_me").click(function() {
                    $("#someone_else").addClass("hidden");
                    $("#someone_else").val("");
                })
                $("#hosted_by_someone").click(function() {
                    $("#someone_else").removeClass("hidden");
                })
            })
        </script>
    </div>
    <div class="row-fluid">
        <div class="span2">
            <div class="pull-right"><%= f.label :address, "address", :for=>"event_street" %></div>
        </div>
        <div class="span10">
            <%= f.text_field :street, :class=>"full", :id => "address" %>
        </div>
    </div>
    <div class="row-fluid hidden" id="maprow">
        <div class="span2"><div class="pull-right"><label>map</label></div></div>
        <div class="span10">
            <div class="row-fluid hidden" id="moved-marker-text">
                <div class="span12">
                  <p>You moved the location of the event!
                    <br> Is <span id="geocoded-address">&nbsp;</span> a better address for this event?
                      <ul>
                        <li>
                          <a href="javascript:changeAddress()">Yes, change the address</a>
                        </li>
                        <li><a href="javascript:hideMoveMarkerText()">No, keep the address as-is</a>
                        </li>
                        <li><a href="javascript:resetMarker()">Whoops! Reset marker location</a></li>
                      </ul>
                  </p>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12" id="eventmap" class="small"></div>
            </div>
            <%= f.hidden_field :latitude, :id => "latitude" %>
            <%= f.hidden_field :longitude, :id => "longitude" %>
            <%= f.hidden_field :moved_marker, :id => "moved_marker", :value => true %>
        </div>
    </div>
    <script type="text/javascript">
        var originalLat = <%= @event.latitude || 47.610901 %>;
        var originalLong = <%= @event.longitude || -122.346494 %>;
        var marker = null;
        var addMarkerFunction = function() {
            if (marker == null) {
                marker = Map.addMoveableMarker(originalLat, originalLong, function(marker) {
                        $("#longitude").val(marker.getPosition().lng());
                        $("#latitude").val(marker.getPosition().lat());
                    }, function(marker) {
                        Map.reverseGeocode(marker.getPosition(), function(address) {
                            $("#moved-marker-text").removeClass("hidden");
                            $("#geocoded-address").text(address);
                        });
                    });
            }
        };

        $(document).ready(function() { 
            <% if (@event.street.to_s.strip.length != 0) %>
                $("#maprow").removeClass("hidden");
                Map.setMap('eventmap', originalLat, originalLong, 15); 
                addMarkerFunction();
            <% end %>
            $("#address").blur(function() {
                if ($("#address").val())
                {
                    if ($("#maprow").hasClass("hidden")) {
                        $("#maprow").removeClass("hidden");
                        Map.setMap('eventmap', originalLat, originalLong, 15);
                    }
                    Map.geocodeMarker(marker, $("#address").val(), function(latLng)  {
                        originalLat = latLng.lat();
                        originalLong = latLng.lng();
                        $("#latitude").val(originalLat);
                        $("#longitude").val(originalLong);
                        addMarkerFunction();
                    });
                }
            });
        });

        function changeAddress() {
            $("#address").val($("#geocoded-address").text());
            hideMoveMarkerText();
        }

        function resetMarker() {
            hideMoveMarkerText();
            marker.setPosition(new google.maps.LatLng(originalLat, originalLong));
            Map.centerOnMarker(marker);
        }

        function hideMoveMarkerText() {
            $("#moved-marker-text").addClass("hidden");
        }
    </script>
    <div class="row-fluid">
        <div class="span2">
            <div class="pull-right"><%= f.label :start, "event date"%></div>
        </div>
        <div class="span5">
            <% if (!@event.errors.empty? && (@event.errors.include?(:start) || @event.errors.include?(:end))) %>
            <div class="field_with_errors">
            <% end %>
                <input id="startdate" type="text" class="full" name="startdate" value="<%= @event.start.strftime('%-m/%-d/%Y') unless !@event.start %>" />
            <% if (!@event.errors.empty? && (@event.errors.include?(:start) || @event.errors.include?(:end))) %>
            </div>
            <% end %>
            
            <script type="text/javascript">
                $(document).ready(function() { $('#startdate').datepicker({dateFormat: 'm/d/yy'})});
            </script>
        </div>
        <div class="span5">
            <div class="row-fluid">
                <div class="span12">
                    <div id="time_slider"></div>
                    <div style="position: relative">
                        <div id="time_start" style="position: absolute; width: 55px"></div>
                        <div id="time_end" style="position: absolute; width: 55px"></div>
                    </div>

                    <input id="event_start_1i" type="hidden" name="event[start(1i)]" value="2012" />
                    <input id="event_start_2i" type="hidden" name="event[start(2i)]" value="1" />
                    <input id="event_start_3i" type="hidden" name="event[start(3i)]" value="1" />
                    <input id="event_start_4i" type="hidden" name="event[start(4i)]" value="<%= @event.start ? @event.start.hour : 9 %>" />
                    <input id="event_start_5i" type="hidden" name="event[start(5i)]" value="<%= @event.start ? @event.start.min : 0 %>" />

                    <input id="event_end_1i" type="hidden" name="event[end(1i)]" value="2012" />
                    <input id="event_end_2i" type="hidden" name="event[end(2i)]" value="1" />
                    <input id="event_end_3i" type="hidden" name="event[end(3i)]" value="1" />
                    <input id="event_end_4i" type="hidden" name="event[end(4i)]" value="<%= @event.end && @event.start ? @event.end > @event.start ? 24 : @event.end.hour : 15 %>" />
                    <input id="event_end_5i" type="hidden" name="event[end(5i)]" value="<%= @event.end ? @event.end.min : 0 %>" />


                    <script type="text/javascript">
                        $(document).ready(function() {
                            var minuteStep = 15;
                            var maxValue = 24*4;
                            var startHour = <%= @event.start ? @event.start.hour : 9 %>;
                            var startMinute =  parseInt(<%= @event.start ? @event.start.min : 0 %>) / minuteStep;
                            <% 
                                end_hour = 15
                                if @event.end && @event.start
                                    if @event.end.day != @event.start.day
                                        end_hour = 24
                                    else
                                        end_hour = @event.end.hour
                                    end
                                end
                            %>

                            var endHour = <%= end_hour %>;
                            <%
                                end_minute = 0
                                if @event.end && end_hour != 24
                                    end_minute = @event.end.min
                                end
                            %>
                            var endMinute = parseInt(<%= end_minute %>) / minuteStep;

                            var initialValues = [startHour*4+startMinute, endHour*4+endMinute];

                            var percentOffset = 9;
                            var setTimes = function(ui) {
                                var getValueOfHandle = function(displayElement, hourElement, minuteElement, index) {
                                    var ampm = (ui.values[index] < 48) ? "AM" : "PM";
                                    var saveHour = parseInt(ui.values[index]/4);
                                    var displayHour = saveHour%12 || 12;
                                    var saveMinute = (ui.values[index]%(60/minuteStep))*minuteStep;
                                    var displayMinute = (saveMinute < 10) ? "0" + saveMinute : saveMinute;
                                    displayElement.text(displayHour + ":" + displayMinute + " " + ampm);

                                    hourElement.attr('value', saveHour);
                                    minuteElement.attr('value', saveMinute);
                                }
                                getValueOfHandle($("#time_start"), $("#event_start_4i"), $("#event_start_5i"), 0);
                                getValueOfHandle($("#time_end"), $("#event_end_4i"),  $("#event_end_5i"), 1);
                            }

                            $('#time_slider').slider({
                                max: maxValue,
                                min: 0,
                                range: true,
                                values: initialValues,
                                slide: function(ev, ui) {
                                    var whichElement = (ui.value == ui.values[0]) ? $("#time_start") : $("#time_end");
                                    var offset = percentOffset;
                                    if (ui.value != ui.values[0]) {
                                        offset = 0;
                                    }
                                    setTimes(ui);
                                    whichElement.css("left", ((ui.value/maxValue)*100-offset) + "%");
                                },
                                create: function(event, ui) {
                                    setTimes({values: initialValues});
                                    $("#time_start").css("left", (initialValues[0]/maxValue)*100-percentOffset + "%");
                                    $("#time_end").css("left", (initialValues[1]/maxValue)*100+"%");
                                }
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2">
            <div class="pull-right"><%= f.label :website, "event website"%></div>
        </div>
        <div class="span10">
            <%= f.url_field :website, :class=>"full" %>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2">
            <div class="pull-right"><%= f.label :max_users, "max users" %></div>
        </div>
        <div class="span10">
            <div id="max_users_slider">

            </div>
            <div style="position: relative">
                <div id="max_users" style="position: absolute; width: 55px"></div>
            </div>
            <%= f.hidden_field :max_users, :id => "event_max_users", :value => @event.max_users || 0 %>
            <script type="text/javascript">
              $(document).ready(function() {
                  $('#max_users_slider').slider({
                      min: 0,
                      max: 100,
                      step: 1,
                      create: function(ev, ui) {
                          $("#max_users").css("left", "0%");
                          var max_users = <%= @event.max_users || 0 %>;
                          if (max_users > 0) {
                              $("#max_users").text(max_users);
                          } else {
                              $("#max_users").text("Unlimted");
                          }
                      },

                      slide: function(ev, ui) {
                          $("#max_users").css("left", ui.value + "%");
                          if (ui.value > 0) {
                              $("#max_users").text(ui.value);
                          } else {
                              $("#max_users").text("Unlimted");
                          }
                          $("#event_max_users").val(ui.value);
                      }
                  });
              });
            </script>
        </div>
    </div>
    <div class="row-fluid">
      <div class="span2">
        <div class="pull-right"><%= f.label :description, "description" %></div>
      </div>
      <div class="span10">
        <%= f.text_area :description, :class=>"full" %>
      </div>
    </div>
    <div class="row-fluid">
        <div class="span2">
            <div class="pull-right"><%= f.label :special_instructions, "special instructions" %></div>
        </div>
        <div class="span10">
            <%= f.text_area :special_instructions, :class=>"full" %>
        </div>
    </div>
    <div class="row-fluid">
      <div class="span2">
        <div class="pull-right"><%= f.label :skills, "categories" %></div>
      </div>
      <div class="span10">
        <%= render(:partial => 'skills/form', :locals => { :entity => "event", :f => f, :skills => @event.skills }) %>
      </div>
    </div>
    <% if current_user.affiliates.any? || (can? :manage, :affiliates) %>
    <div class="row-fluid">
      <div class="span2">
        <div class="pull-right"><%= f.label :affiliates, 'affiliated with' %></div>
      </div>
      <div class="span10">
        <%= render(:partial => 'affiliates/embedded_form', :locals => { :entity => 'event', :f => f, :affiliates => @event.affiliates }) %>
      </div>
    </div>
    <% end %>
    <div class="row-fluid">
        <div class = "span2">&nbsp;</div>
        <div class = "span10">
            <button type="submit" href="#" class="btn btn-primary pull-right" formnovalidate><%= @event.new_record? ? "create event" : "save" %></button>   
        </div>
    </div>
<% end %>
