<div class="row-fluid">
    <% if (@neighborhood == nil) %>
        <h4>events near <%= link_to("King County", "/neighborhoods") %></h4>
    <% else %>
        <h4>events near </br><%= link_to(@neighborhood.name, "/neighborhoods") %></h4>
        <h2>see map view </br><%= link_to(@neighborhood.name, "/neighborhoods") %></h2>
    <% end %>

</div>
<% @events.each_with_index do |event, i| %>
<div class="row-fluid event_with_marker event" onclick="Map.showPopup(<%= event.id %>);">
    <div class="pull-left marker"
         style="background: url(<%= event.attending?(current_user) ? "/assets/mapStripSignedUp.png" : "/assets/mapStripAvail.png" %>) 0px <%= -i*30 %>px">&nbsp;
    </div>
    <div class="details">
        <%= render :partial => "events/event.mobile", :locals => { :event => event, :description => true, :showLinks => true } %>
    </div>
</div>
<% end %>
<div id="page">
    <%= will_paginate @events, :page_links => false %>
</div>
     