<%
    mobile ||= false
    markerSize ||= "medium"
    dimension ||= 30
%>

<%if (mobile == true)
    markerSize = "small"
    dimension = 16%>
<% end %>

<h2>events near</h2>
    <% if (@neighborhood == nil)
       neighborhood_name = "King County"
     else
       neighborhood_name = @neighborhood.name
    end %>
<li class="dropdown" id="neighborhood-list">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h1><%= neighborhood_name %> <b class="caret"></h1></b></a>
    <ul class="dropdown-menu">
        <% Neighborhood.order("name asc").each do |neighborhood| %>
            <li><%=link_to(neighborhood.name, events_neighborhood_url(neighborhood.name))%></li>
        <% end %>
    </ul>
</li>
<div style = "clear:both"></div>
<div id="create_string">
    <%= new_event_link %>
</div>

<% if (@events.count == 0) %>
    <p>There are no events in this location.  Try <%= link_to("broadening your search", "/events") %>.</p>
<% else %>
    <% @events.each_with_index do |event, i| %>
    <div class="event_with_marker event" onclick="Map.showPopup(<%= event.id %>);">
        <div class="pull-left marker"
             style="background: url(<%= event.attending?(current_user) ? "/assets/mapStripSignedUp_#{markerSize}.png" : "/assets/mapStripAvail_#{markerSize}.png" %>) 0px <%= -i*dimension %>px">&nbsp;
        </div>
        <div class="details">
            <%= render :partial => "events/event", :locals => { :event => event, :description => true, :show_links => true, :is_mobile => mobile } %>
        </div>
    </div>
    <% end %>
<% end %>
<div id="page">
    <%= will_paginate @events, :page_links => false %>
</div>

<script type="text/javascript">
    var timeout    = 300;
    var closetimer = 0;
    var ddmenuitem = 0;

    function dropdown_menu_open() {  
        dropdown_menu_canceltimer();
        dropdown_menu_close();
        ddmenuitem = $(this).find('ul').css('visibility', 'visible');
    }

    function dropdown_menu_close() {
        if(ddmenuitem) ddmenuitem.css('visibility', 'hidden');
    }

    function dropdown_menu_timer() {  
        closetimer = window.setTimeout(dropdown_menu_close, timeout);
    }

    function dropdown_menu_canceltimer() {
        if(closetimer) {
            window.clearTimeout(closetimer);
            closetimer = null;
        }
    }

    $(document).ready(function() {
        $('#neighborhood_list > li').bind('mouseover', dropdown_menu_open);
        $('#neighborhood_list > li').bind('mouseout',  dropdown_menu_timer);
    });

    document.onclick = dropdown_menu_close;
</script>