<div id="events" class="fl">
	<div id="event_header">
		<% if (@neighborhood == nil) %>
			<li>events near <%= link_to("Seattle", "/neighborhoods") %></li>
		<% else %>
			<li>events near <%= link_to(@neighborhood.name, "/neighborhoods") %></li>
		<% end %>
	</div>

	<div>
		<% if user_signed_in? %>
			<div id="event_left" class="fl">
				<%= image_tag("event_marker.png", :id => "map_marker") %>
			</div>
			<div id="event_right" class="event">
				<li><%=link_to("Add an event", new_event_url) %></li>
			</div>		
		<% else %>
		<% end %>		
	</div>
	
	<% @events.each do |event| %>
	<div class="event_details" onclick="showPopupFromClick(<%= event.latitude %>, <%= event.longitude %>)">
		<div id="event_left" class="fl">
			<%= image_tag("event_marker.png", :id => "map_marker") %>
		</div>
		<div id="event_right" class="event">
			<ul id="event_list">
				<li><%= link_to(event.name, event) %></li>
				<li id="event_description"><%= event.description %></li>
				<li id="event_contacts" ><%= link_to("Sign up", register_event_url(event), :method => :post) %> 
					|  <%= mail_to(event.user.email, "Contact organizer", :subject => "Questions regarding " + event.name)%></a></li>
                <%= render('share', :locals => { :event => event }) %>
			</ul>
		</div>
	</div>
	<% end %>
</div> <!-- end events -->
<div id="right75" class="fr">
    <div id="map"></div>
</div>
<script>
$(document).ready(function() { 
setMap('map', <%= @mapCenter.latitude %>, <%= @mapCenter.longitude %>, <%= @zoom %>); 
addPoints('<%= request.url %>' + '.xml');
});
</script>