<div class="page_header">
    <% if (@neighborhood == nil)
       neighborhood_name = "King County"
     else
       neighborhood_name = @neighborhood.name
    end %>
    <div class="dropdown pull-left" id="neighborhood-list">
        <span class="map_subtitle">events near</span> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="map_title"><%= neighborhood_name %></span><b class="caret"></b></a>
        <div class="dropdown-menu">
            <% Neighborhood.order("name asc").each do |neighborhood| %>
                <li><%=link_to(neighborhood.name, events_neighborhood_url(neighborhood.name))%></li>
            <% end %>
        </div>
    </div>
    <div class="btn-create-new">
        <a href="<%= new_event_url %>" class="btn btn-large btn-success">Create New Event</a>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="span4">
        <%= render(:partial => 'list_view')%>
    </div>
    <div class="span8">
        <div class="map">
            <div id="map" class="big"></div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() { 
    Map.setMap('map', <%= @mapCenter.latitude %>, <%= @mapCenter.longitude %>, <%= @zoom %>); 
    var eventUrl = location.href.split("?")[0];
    var page = getParameterByName('page');
    var pageUrlPart = '';
    if (page) {
        pageUrlPart = '?page=' + page;
    }

    Map.addPoints(eventUrl + '.xml' + pageUrlPart, Map.showPopup);
});
</script>