<div id="events" class="fl">
	<div id="event_header">
		<% if (@neighborhood == nil) %>
			<li>events near <%= link_to("King County", "/neighborhoods") %></li>
		<% else %>
			<li>events near <%= link_to(@neighborhood.name, "/neighborhoods") %></li>
		<% end %>
	</div>

	<div>
		<% if can? :create, Event %>
			<div id="event_left"
			     class="fl map-markerimg"
			     style="background: url(/assets/red_markers.png) 0px 20px"></div>
			<div id="event_right" class="event">
				<li><%=link_to("add an event", new_event_url) %></li>
			</div>		
		<% end %>		
	</div>
	
	<% @events.each_with_index do |event, i| %>
	<div class="event_details" onclick="Map.showPopup(<%= event.id %>);">
		<div id="event_left"
		     class="fl map-markerimg"
		     style="background: url(<%= event.attending?(current_user) ? "/assets/green_markers.png" : "/assets/red_markers.png" %>) 0px <%= -i*20 %>px"></div>
		<div id="event_right" class="event">
				<%= link_to(event.name, event) %><br/>
				<%= event.description %><br/>
                <% if !event.attending?(current_user) %>
				<%= link_to("sign up", register_event_url(event), :method => :post) %> | 
                <% end %>
                    <%= mail_to(event.user.email, "contact organizer", :subject => "Questions regarding " + event.name)%><br/>
                <%= render(:partial => 'share', :locals => { :event => event }) %>
		</div>
	</div>
	<% end %>
    <div id="page">
        <%= will_paginate @events %>
    </div>
</div> <!-- end events -->
<div id="right75" class="fr">
    <div id="map"></div>
</div>
<script>
$(document).ready(function() { 
    Map.setMap('map', <%= @mapCenter.latitude %>, <%= @mapCenter.longitude %>, <%= @zoom %>); 
    var eventUrl = location.href.split("?")[0];
    var page = getParameterByName('page');
    var pageUrlPart = '';
    if (page) {
        pageUrlPart = '?page=' + page;
    }
	<% if (@neighborhood == nil) %>
    	var baseUrl = "<%= events_url %>";
	<% else %>
    	var baseUrl = "<%= events_neighborhood_url @neighborhood.name %>";
	<% end %>
    Map.addPoints(baseUrl + '.xml' + pageUrlPart);
});
</script>