<div class="share">
    <ul>
        <li>Share:</li>
        <li class="badge">
            <%= mail_to(nil, image_tag("email_icon_20x20.png", :class => "email-badge-img", :alt => "E-Mail This Info"), :subject => "Come join me at " + event.name) %>              
        </li>
        <li class="badge">
            <a target="_blank" href="<%= twitter_url(event) %>">
                <%= image_tag("twitter_icon_20x20.png", 
                    :class => "twitter-badge-img", 
                    :alt => "Follow us on Twitter")%>
            </a>                     
        </li>
        <li class="badge">
            <a target="_blank" href="<%= facebook_url(event) %>">
                <%= image_tag("facebook_icon_20x20.png",
                    :class => "fb-badge-img",
                    :alt => "Find us on Facebook")%>
            </a>
        </li>
    </ul> 
</div>                