<div class="row">
    <div class="span8">
        <div id="featured-events" class="carousel slide img-polaroid"><!-- class of slide for animation -->
            <div class="carousel-inner">
                <% @events.each_with_index do |event, i| %>
                <div class="item <%= "active" if i == 0 %>">
                    <%= image_tag event.photo_featured.url(:featured), :style => "height: 524px" %>

                </div>
                <% end %>
            </div> <!-- /.carousel-inner -->

            <a class="carousel-control left" href="#featured-events" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#featured-events" data-slide="next">&rsaquo;</a>
        </div> <!-- /.carousel -->
    </div><!-- /.span8-->

    <div class="span4">

        <% @events.each_with_index do |event, i| %>
        <div class="item <%= "hide" if i != 0 %>" id="carousel-<%=i %>">
            <h2><%= event.name %></h2>
            <p class="featured"><%= event.description %></p>
            <a href="<%= register_event_url(event) %>" data-method="post" rel="nofollow" class="btn btn-large btn-success span3">
                <h2>Join Us!</h2>
            </a>
        </div>
        <% end %>
        <script type="text/javascript">
            $(function() {
                var active = 0;
                $('body').on('slide', function (e) {
                    var prevIndex = $('#featured-events .active').index('#featured-events .item');
                    var nextIndex = $(e.relatedTarget).index('#featured-events .item');
                    $("#carousel-" + prevIndex).hide();
                    $("#carousel-" + nextIndex).show();
                });
            });
        </script>
    </div>

</div><!-- /.row-->
<% @events.each_with_index do |event, i| %>
<% if i % 3 == 0 %>
<ul class="thumbnails clear">
<% end %>
    <li class="span4 unstyled">
        <%= link_to event_url(event) do %>
            <%= image_tag event.photo_featured.url(:large), :class => "img-polaroid pic", :style => "height: 200px; width: 290px" %>
        <% end %>
        <h2><%= event.name %></h2>
        <p><%= event.description %></p>
        <p><%= link_to "View Details", event_url(event), :class => "btn" %></p>
    </li>
<% if ((i+1) % 3) == 0 %>
</ul>
<% end %>
<% end %>
