<div class="container">
<section>
    <article id="featured-carousel" class="row">
        <div class="span8">
            <figure>
                <div id="featured-events" class="carousel slide img-polaroid"><!-- class of slide for animation -->
                    <div class="carousel-inner">
                        <% @events.each_with_index do |event, i| %>
                          <div class="item <%= "active" if i == 0 %>">
                            <a href="<%= event_path(event) %>"><%= image_tag event.photo_featured.url(:featured), :style => "height: 350px" %></a>
                            <div class="carousel-caption">
                              <h2><%= event.name %></h2>
                              <p><%= event.start.strftime('%-B %-d, %Y (%-A)') %></p>
                            </div>
                          </div>
                        <% end %>
                    </div> <!-- /.carousel-inner -->
                    <a class="carousel-control left" href="#featured-events" data-slide="prev">&lsaquo;</a>
                    <a class="carousel-control right" href="#featured-events" data-slide="next">&rsaquo;</a>
                </div> <!-- /.carousel -->
                <figcaption class="featured_badges">
                    <% @events.each_with_index do |event, i| %>
                      <div class="item <%= "hide" if i != 0 %>" id="carousel-badges-<%=i %>">
                        <div class="row-fluid"><%= render :partial => "skills/strip", :locals => { :entity => event, :size => "small" } %></div>
                        <div class="row-fluid">
                            <p class="featured">
                                <% if event.description.length > 450 %>
                                    <%= truncate(event.description, :length=>450, :separator => ' ') %>
                                    <%= link_to "Read More", event %>
                                <% else %>
                                    <%= event.description %>
                                <% end %>
                            </p>
                        </div>
                      </div>
                    <% end %>
                </figcaption><!-- Badges under the main carousel -->
            </figure><!-- /.featured-carousel-->
        </div><!-- /.span8-->
        <div class="span4">
            <% @events.each_with_index do |event, i| %>
            <div class="item <%= "hide" if i != 0 %>" id="carousel-<%=i %>">
                <a href="<%= event_url(event) %>" class="btn btn-large btn-warning">
                    <h2>Sign Up Now!</h2>
                    <div class="countdown">
                        <div class="countdownTitle">Countdown</div>
                        <p id="countdownTime-<%= i %>">&nbsp;</p>
                    </div>
                    <script type="text/javascript">
                        $(window).load(function() {
                            setInterval(function() {
                                $("#countdownTime-<%= i %>").text(countdownString(new Date(<%= @events[i].start.strftime("%Y, %m, %d, %H, 0, 0, 0") %>)));
                            }, 100);
                        })
                    </script>
                </a> <!-- This is the big "Sign Up Now!" button -->

                <!--Section under 'Sign Up Now!' button that has date, address, and description -->
                <div class="event-date-loc">
                    <p><%= event.start.strftime('%-I:%M%P') %> - <%= event.end.strftime('%-I:%M%P') %></p>
                    <p><%= event.start.strftime('%-A, %-B %-d, %Y') %></p>

                    <%= link_to event.geocode_address, "https://maps.google.com/?q=#{event.geocode_address}" %>
                </div>
              <% if @current_sponsor != nil %>
                   <div class="sponsor">
                        <h3>Sponsor<span class="arrow-left"></span><span class="arrow-right"></span></h3>
                        <a href="<%= @current_sponsor.url  %>">
                          <%= image_tag @current_sponsor.logo.url(:small), :alt => @current_sponsor.name %>
                        </a>
                        <p><%= @current_sponsor.description %></p>
                    </div><!-- /.sponsor -->
              <% end %>
            </div><!-- /.item -->
            <% end %>
            <script type="text/javascript">
                $(function() {
                    $('body').on('slide', function (e) {
                        var prevIndex = $('#featured-events .active').index('#featured-events .item');
                        var nextIndex = $(e.relatedTarget).index('#featured-events .item');
                        $("#carousel-" + prevIndex).hide();
                        $("#carousel-badges-" + prevIndex).hide();
                        $("#carousel-" + nextIndex).show();
                        $("#carousel-badges-" + nextIndex).show();
                    });
                });
            </script>
        </div><!-- /.span4-->
    </article><!-- /#featued-carousel .class-->
</section>

<h2 class="spotlight-title"><span>SPOTLIGHT</span></h2>

<section class = "news">
    <article class = "span4 alpha news">
        <div class = "news-title">In the News</div>
        <a href="http://web.bus52.com//profiles/flash-volunteer/#" target="_blank"><img src="/assets/spotlight/brad.png"></a>
        <p>
            We were featured on <a href="http://web.bus52.com//profiles/flash-volunteer/#" target="_blank">Bus52!</a> Click here to see the <a href="http://youtu.be/JwNmdp5sv4Y" target="_blank">video interview</a>.

        </p>
        <p>
            Geekwire <a href="http://www.geekwire.com/2012/startup-spotlight-flash-volunteer-leverages-fun-flash-mobs-social-good/" target="_blank">interviewed us</a> as part of their Startup Spotlight series.
        </p>
        <p>
            <a href="http://youtu.be/W3Bh-qYzbTc" target="_blank">Listen to our interview</a> on Seattle's KOMO News radio!
        </p>

    </article>
    <article class = "span4 news">
        <div class = "news-title">iPhone App</div>
        <p>
            Check out our <a href="https://itunes.apple.com/us/app/flash-volunteer/id353017547?mt=8" target="_blank">iPhone app</a> that you can use to create, search, and signup for volunteer events in your own neighborhood!
        </p>
            <a href="https://itunes.apple.com/us/app/flash-volunteer/id353017547?mt=8" target="_blank"><img src="/assets/spotlight/FViphoneapp.png"></a>
        <p>
            Get off the couch and change the world! 
        </p>
    </article>
    <article class = "span4 omega news">
        <div class = "news-title">Connect With Us</div>
        <a href="http://blog.flashvolunteer.org" target="_blank"><img src="/assets/spotlight/blog.png"></a>
        <p>
            Stay connected with the latest news and volunteer stories through our <a href="http://blog.flashvolunteer.org" target="_blank">blog</a>, <a href="https://www.facebook.com/flashvolunteer" target="_blank">facebook</a>, and <a href="https://twitter.com/flashvolunteer" target="_blank">twitter</a>!
        </p>
        <p>
            Or, send us an email to let know to what's on your mind.  <a href="mailto:connect@flashvolunteer.org">connect@flashvolunteer.org</a>
        </p>
    </article>
</section>
</div><!-- /.container -->
