<div id="print_screen_container">
	<div class="row-fluid">
		<div class="span8">
			<div class="title"><%= @event.name %></div>
			<h2><%= @event.start.to_date.to_formatted_s(:rfc822) %>  |  <%= @event.start.strftime('%l:%M%p') %> - <%= @event.end.strftime('%l:%M%p') %></h2>		
			<h2><%= @event.street %>, <%= link_to(@event.neighborhood.name, (events_url.concat("/in/").concat(@event.neighborhood.name))) %></h2>
		</div>
		<div class="span4">
			<%= qr_code(event_url(@event), "alt-text", 220) %><br>
			<%= image_tag('logoqr.png', :class => "logoqr") %>
		</div>
	</div>
	<div class="row-fluid">&nbsp;</div>
	<div class="row-fluid">&nbsp;</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th><h2>Name</h2></th>
				<th><h2>Email</h2></th>
				<th><h2>Start time</h2></th>
				<th><h2>End time</h2></th>
			</tr>
		</thead>
		<tbody>
			<% if @event.participants.count > 0 %>
		    	<% @event.participants.each do |p| %>
					<tr>
						<td><h2><%= p.name %></h2></td>
						<td><h2><%= p.email %></h2></td>
						<td><h2></h2></td>
						<td><h2></h2></td>
					</tr>
				<% end %>
				<% (1..20).each do %>
					<tr>
						<td><h2>&nbsp;</h2></td>
						<td><h2></h2></td>
						<td><h2></h2></td>
						<td><h2></h2></td>
					</tr>
				<% end %>
		    <% end %>
		</tbody>
	</table>
</div>