<div>
	<div>
		<div id="lefthalf" class="hardmodule">
			<ul>
				<li id="event_header"><%= @event.name %></br></h1></li>
				<li><%= @event.start %>-<%= @event.end %></b></li>
				<li><%= @event.street %></li>
                <li><%= @event.city %>, <%= @event.state %> <%= @event.zip %></li>
                <li>(<%= link_to(@event.neighborhood.name, neighborhoods_url) %>)</li>
				<li id="event_contacts" ><%= link_to("Sign up", register_event_url(@event), :method => :post) %> 
					|  <%= mail_to(@event.user.email, "Contact organizer", :subject => "Questions regarding " + @event.name)%></a>
					|  <%= link_to("Visit the event website", neighborhoods_url) %></a>
				</li>
				<%= render('share', :locals => { :event => @event }) %>			
                        </ul>
		</div><!--end eventdetails-->
		<div class="fr">
			<div id="splash_button"><%= link_to("Sign up", register_event_url, :html => {:id => "righthalf"})%></div>
            <% if can? :edit, @event %>
			<div id="splash_button"><%= link_to("Edit event", edit_event_url, :html => {:id => "righthalf"})%></div>
            <% end %>
		</div>
	</div>
	<div class="clear"></div>
	<div>
		<div id="lefthalf">
			
			<!-- event description -->
			<div id="eventdescription" class="hardmodule">
				<div class="moduletitle">
					<h3>Description</h3>
				</div>
				<ul>
					<li><%= @event.description %></li>
				</ul>	
				<div id="eventmap" class="hardmodule">
				</div><!--end eventmap-->
			</div><!--end eventdescription-->
			
			<!-- displays special instructions -->
			<div id="personupcomingevents" class="hardmodule">
				<div class="moduletitle">
					<h3>Special Instructions</h3>
				</div>
				<ul>
					<li></li>
				</ul>
			</div><!--end special instructions-->
		</div>

		<div id="righthalf">

			<div id="eventattendees" class="hardmodule">
                    <% if current_user == @event.user %>
                        <div class="moduletitle">
                            <h3>Event attendees</h3>
                        </div>
                        <ul>
                            <li><%= @event.participants.size %> participants plan to join</li>
                        <% @event.participants.each do |p| %>
                            <li><%= mail_to p.email, p.name%></li>
                        <% end %>
                        </ul>
                    <% else %>
                        <div class="moduletitle">
                            <h3>Event Organizers</h3>
                        </div>                        
                        <ul>
                            <li><%= mail_to @event.user.email, @event.user.name %></li>
                        </ul>
                    <% end %>
                </div>
				<ul>   
				  <li>  
						<ul class="imagenamelinklist">
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>