<div id="left66" class="hardmodule">
    <h2><%= @event.name %></h2>
    <%= @event.start.strftime('%-m/%-d/%Y') unless !@event.start %> <%= @event.start.strftime('%l:%M%p') unless !@event.start %>-<%= @event.end.strftime('%l:%M%p') unless !@event.end %><br/>
    <%= @event.street %><br/>
    <%= link_to(@event.neighborhood.name, (events_url.concat("/in/").concat(@event.neighborhood.name))) %><br/>


    <%= render(:partial => 'links', :locals => { :event => @event }) %>
    <% if @event.website != '' %>
         |  <%= link_to("learn more about this", @event.website, :target=>"_blank") unless @event.website == '' %>
    <% end %>
    <div class="clear" style="padding-top: 10px">
        <div class="fl"><%= render(:partial => 'share', :locals => { :event => @event }) %></div>
        <div class="fr"><%= link_to("add to my calendar", export_event_url(@event)) %></div>
    </div>
</div>
<div class="fr">
    <% if (@event.user != current_user) %>
        <% if (@event.attending?(current_user)) %>
            <%= link_to("already signed up", "#", :class => "gray_button")%>
        <% else %>
            <%= link_to("sign up", register_event_url, :method=> :post, :class => "orange_button")%>
        <% end %>
    <% end %>
    <% if can? :edit, @event %>
        <%= link_to("edit event", edit_event_url, :class => "orange_button")%>
        <%= link_to("delete event", event_url(@event), :method=>"delete", :class => "orange_button")%>
    <% end %>
</div>
<div class="clear"></div>
<div id="left66">
    <div id="eventdescription" class="hardmodule">
        <div class="moduletitle">
            <h3>description</h3>
        </div>
        <div id="eventmap" class="fr">
        </div>
        <ul>
            <li><%= @event.description %></li>
        </ul>    
    </div><!--end eventdescription-->
    
</div>
<div id="right33">
    <div id="eventattendees" class="hardmodule">
        <div class="moduletitle">
            <h3>event organizers (1)</h3>
        </div>       
        <ul>
            <li><%= mail_to @event.user.email, @event.user.name %></li>
        </ul>

    </div>
</div>
<div class="clear"></div>
<div id="left66">
    <% if @event.special_instructions? %>
    <!-- displays special instructions -->
    <div class="hardmodule">
        <div class="moduletitle">
            <h3>special instructions</h3>
        </div>
        <ul>
            <li><%= @event.special_instructions %></li>
        </ul>    
    </div><!--end special instructions-->
    <% end %>
</div>
<div id="right33">
    <div id="eventattendees" class="hardmodule">
        <div class="moduletitle">
            <h3>event attendees (<%= @event.participants.count %>)</h3>
        </div>
        <% if @event.participants.count > 0 %>
            <ul>
            <% @event.participants.each do |p| %>
                <li><%= p.name %></li>
            <% end %>
            </ul>
        <% else %>
            <% if @event.user == current_user %>
                there are no users signed up yet
            <% else %>
                there are no users signed up yet, but you can be the first!
            
                <%= link_to("sign up now!", register_event_url(@event), :method => :post) %>
            <% end %>
        <% end %>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() { 
    Map.setMap('eventmap', <%= @event.latitude %>, <%= @event.longitude %>, <%= 14 %>); 
    Map.addPoints("<%= event_url(@event) %>.xml", false);
});
</script>