<div>
	<div class="shortevent">
        <%= link_to(@event.name, event_url(@event)) %><br/>
        <%= @event.street %>, <%= @event.city %>, <%= @event.state %><br/>
        <%= link_to("Sign up", register_event_url(@event), :method => :post) %> |
            <%= mail_to(@event.user.email, "Contact organizer", :subject => "Questions regarding " + @event.name)%><br/>
	</div>
    <%= render('share', :locals => { :event => @event }) %>
</div>