<div>
	<div class="shortevent">
        <%= link_to(@event.name, event_url(@event)) %><br/>
        <%= @event.street %><br/>
        (<%= @event.neighborhood.name %>)<br/>
        <%= link_to("sign up", register_event_url(@event), :method => :post) %> |
            <%= mail_to(@event.user.email, "contact organizer", :subject => "Questions regarding " + @event.name)%><br/>
	</div>
    <%= render(:partial => 'share', :locals => { :event => @event }) %>
</div>