<div id="lefthalf" class="hardmodule">
    <h2><%= @event.name %></h2>
    <%= @event.start.strftime('%-m/%-d/%Y') unless !@event.start %> <%= @event.start.strftime('%l:%M%p') unless !@event.start %>-<%= @event.end.strftime('%l:%M%p') unless !@event.end %><br/>
    <%= @event.street %><br/>
    (<%= link_to(@event.neighborhood.name, neighborhoods_url) %>)<br/>
    <% if !@event.attending?(current_user) %>
    <%= link_to("Sign up", register_event_url(@event), :method => :post) %> | 
    <% end %>
    <%= mail_to(@event.user.email, "Contact organizer", :subject => "Questions regarding " + @event.name)%>
            <% if @event.website != '' %>
                 |  <%= link_to("Visit the event website", @event.website, :target=>"_blank") unless @event.website == '' %>
            <% end %>
    <div class="clear" style="padding-top: 10px">
        <div class="fl"><%= render(:partial => 'share', :locals => { :event => @event }) %></div>
        <div class="fr"><%= link_to("Add to your calendar", export_event_url(@event)) %></div>
    </div>
</div>
<div class="fr">
    <% if (@event.user != current_user) %>
        <% if (@event.attending?(current_user)) %>
            <%= link_to("Already signed up", "#", :class => "gray_button")%>
        <% else %>
            <%= link_to("Sign up", register_event_url, :method=> :post, :class => "orange_button")%>
        <% end %>
    <% end %>
    <% if can? :edit, @event %>
        <%= link_to("Edit event", edit_event_url, :class => "large_button")%>
    <% end %>
</div>
<div class="clear"></div>
<div id="left66">
    <div id="eventdescription" class="hardmodule">
        <div class="moduletitle">
            <h3>Description</h3>
        </div>
        <ul>
            <li><%= @event.description %></li>
        </ul>    
        <div id="eventmap" class="hardmodule">
        </div><!--end eventmap-->
    </div><!--end eventdescription-->
    
    <% if @event.special_instructions? %>
    <!-- displays special instructions -->
    <div class="hardmodule">
        <div class="moduletitle">
            <h3>Special Instructions</h3>
        </div>
        <ul>
            <li><%= @event.special_instructions %></li>
        </ul>    
    </div><!--end special instructions-->
    <% end %>
</div>
<div id="right33">
    <div id="eventattendees" class="hardmodule">
        <div class="moduletitle">
            <h3>Event Organizers</h3>
        </div>                        
        <ul>
            <li><%= mail_to @event.user.email, @event.user.name %></li>
        </ul>

    </div>
        <div id="eventattendees" class="hardmodule">
            <div class="moduletitle">
                <h3>Event attendees</h3>
            </div>
            <% if @event.participants.count > 0 %>
            <ul>
            <% @event.participants.each do |p| %>
                <li><%= p.name %></li>
            <% end %>
            </ul>
            <% else %>
            There are no users signed up yet, but you can be the first!
            
            <% if (@event.user != current_user) %>
                <%= link_to("Sign up now!", register_event_url(@event), :method => :post) %>
            <% end %>
            <% end %>
        </div>
</div>