<div>
    <div class="shortevent">
        <%= link_to(truncate(@event.name, :length=>30, :separator=>' '), event_url(@event)) %><br/>
        <%= @event.street %><br/>
        (<%= @event.neighborhood.name %>)<br/>
        <%= render(:partial => 'links', :locals => { :event => @event }) %>
    </div>
    <%= render(:partial => 'share', :locals => { :event => @event }) %>
</div>