<% if @org.errors.any? %>
    <div class="alert alert-error">
        <a class="close" data-dismiss="alert" href="#">x</a>
        <h4 class="alert-heading">Error!</h4>
        <p>
            <ul>
            <% @org.errors.each do |attr,msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </p>
    </div>
<% end %>

<% content_for :question do %>
    Is this information about your group correct?
<% end %>
<% content_for :below_question do %>
    <div class="row">
        <div class="span2">
            <label>name</label>
        </div>
        <div class="span10">
            <%= text_field(:org, :name) %>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <label>email</label>
        </div>
        <div class="span10">
            <%= text_field(:org, :email) %>
        </div>
    </div>
<% end %>
<% content_for :button do %>
    <%= submit_tag("yes, ask me more", :class => "btn btn-primary pull-right") %>
<% end %>
<%= content_for :form_template do 'orgs/new_org_wizard/question_with_form' end %>
<%= render(:template => 'shared/splash_with_question') %>
