<%= content_for :right_split do %>
<p class="bold">MY EVENTS</p>
<p><%= link_to "Create new event", new_event_url %></p><p>Have many events to post? Try <%= link_to "bulk upload", "https://docs.google.com/spreadsheet/ccc?key=0Ao5K4W67RyC1dER1NXZEdjVWYi1QWVFSbHF6UGVNUlE#gid=0" %>.</p>
<br />
<div class="tabs bold">
    <ul class="unstyled inline" id="link_list">
        <li><a class="link_active" href="#past" id="past_link">PAST</a></li>
        <li><a href="#upcoming" id="upcoming_link">UPCOMING</a></li>
    </ul>
</div>
<div class="clear">&nbsp;</div>
<div id="content_sections">
    <div id="past_content">
        <%= render(:partial => "events/event", :collection => @past, :as => :event, :locals => { :show_links => false, :description => :medium }) || "You have not sponsered any events yet." %>
    </div>
    <div class="hide" id="upcoming_content">
        <%= render(:partial => "events/event", :collection => @upcoming, :as => :event, :locals => { :show_links => false, :description => :medium }) || "You have no upcoming events." %>
    </div>
</div>
<% end %>
<script type="text/javascript">
    $(document).ready(function () { addContentHandlers(); });
</script>
<%= render :partial => 'users/shared/me', :locals => { :links => "orgs/org_profile_links" } %>