<% content_for :main_action do %>
    reset your password
<% end %>
<% content_for :link_action do 
link_to("") end %>
<%= content_for :form_content do %>
	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>

	<p>enter the email address where you want us to send the link to reset your password. </p>

    <div class="row">&nbsp;</div>
        <div class="row-fluid">
            <div class="span2">
                <div class="pull-right"><%= f.label :email, "email",:class=>"full"  %></div>
            </div>
        <div class="span10">
            <%= f.email_field :email, :class=>"full"  %>
        </div>
    </div>
	
    <div class="row-fluid">
        <div class = "span2">&nbsp;</div>
        <div class = "span10">
            <button type="submit" href="#" class="btn btn-primary pull-right">OK</button>   
        </div>
    </div>
	<% end %>
<% end %>

<%= render :template => "users/shared/form" %>