<% content_for :content do %>
    <div class="row">
        <div class="span2">
            <%= image_tag("question_mark.png", 
                :id => "question-mark",
                :border=>"0") %>
        </div>
        <div class="span8">
            <div class="row">&nbsp;</div>
            <div class="row">&nbsp;</div> 
            <span style="font-size: 250%;padding-top: 35px">Where do you want to volunteer?</span>
            <div class="row">&nbsp;</div>
            <%= collection_select(:neighborhood,  :id, Neighborhood.all, :id, :name, { :selected => @preferred_neighborhood_id, :include_blank => "Anywhere in King County" }) %>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="span1 offset7">
            <%= link_to("Continue", "#", :onclick => "gotoNeighborhood('neighborhood_id')", :class => "btn pull-right") %>
        </div>
    </div>
    <div class="row">
        <p>
            <% if can? :create, Event %>
                I want to <%= link_to("create an event", new_event_url)%>
            <% elsif user_signed_in? %>
                Confirm your e-mail address with the e-mail we sent.
            <% else %>
                I want to <%= link_to("create an event.", new_user_session_url)%>
            <% end %>
        </p>
    </div>
<% end %>
<%= render(:template => 'shared/splash_frame') %>