<div id="splash_top">
	<div id="splash_question_mark" class="fl">
		<%= image_tag("question_mark.png", 
			:id => "question-mark",
			:border=>"0") %>
	</div>
    <div id="splash_top_option">
        <div id="splash_question">
            <li>Where do you want to volunteer?</li>
        </div>
        <div id="splash_dropdown">
            <%= collection_select(:neighborhood,  :id, Neighborhood.all, :id, :name, { :selected => @preferred_neighborhood_id, :include_blank => "King County" }) %>
        </div>

    </div>
    <%= link_to("Continue", "#", :onclick => "gotoNeighborhood('neighborhood_id')", :class => "large_button fr") %>
	<div id="splash_member_switch">
        <% if can? :create, Event %>
            <%= link_to("I want to create an event.", new_event_url)%>
        <% elsif user_signed_in? %>
            Confirm your e-mail address with the e-mail we sent.
        <% else %>
            <%= link_to("I want to create an event.", new_user_session_url)%>
        <% end %>
	</div>
</div>