<h2>Users</h2>
<table>
<% @users.each do |o| %>
    <tr>
        <td><%= o["firstName"] %></td>
        <td><%= o["lastName"] %></td>
        <td><%= o["email"] %></td>
        <td><%= o["primaryKey"] %></td>
        <td><%= o["password"] %></td>
    </tr>
<% end %>
</table>
<%= form_tag(update_user_volunteer_match_index_url) do %>
    <div class="row-fluid">
        <div class="span2">
            <label for="Name">Name</label>
        </div>
        <div class="span1">
            <%= text_field_tag(:name) %>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2">
            <label for="afg_page">Email</label>        
        </div>
        <div class="span1">
            <%= text_field_tag(:email) %>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2">
            <label for="afg_page">Password</label>        
        </div>
        <div class="span1">
            <%= text_field_tag(:password) %>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2">
            <%= submit_tag('Update', :class=>"btn btn-primary") %>
        </div>
    </div>
<% end %>