<!DOCTYPE html>
<html>
<head>
    <title>Flashvolunteer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "application" %>
    <%= mobylette_javascript_include_tag "application" %>
    <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=false' %>
    <%= csrf_meta_tag %>
</head>
<body>
  <div>
      <div class="header">
        <%= render"shared/header" %>
      </div>
      <div class="container">
        <%= yield %>
      </div>
      <div id="clearfooter">&nbsp;</div>
    </div>
    <footer>
        <%= render"shared/footer" %>
    </footer>
</body>
</html>
