<!DOCTYPE html>
<html>
<head>
  <title>Flashvolunteer</title>
  <%= stylesheet_link_tag :all %>
  <%= theme_stylesheet_link_tag 'colors' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery-1.7.1.js' %>
  <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=false' %>
  <%= javascript_include_tag 'map.js' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="container">
	<%= render"shared/header" %>
	<div id="content">
		<div id="bottom">
			<div id="columns">
				<%= yield :title %>
			</div>
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
			<%= yield %>
			<div class="clear"> </div>
		</div>
	</div>
	<div id="clearfooter"></div>
</div>
<%= render"shared/footer" %>
</body>
</html>
