<!DOCTYPE html>
<html>
<head>
  <title>Flashvolunteer</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=false' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="container">
	<%= render"shared/header" %>
	<% if flash[:popup] %>
		<div class="popup">
			<div class="popupContent">
	    		<h1>Success!</h1>
	    	 	<p><%= flash[:popup] %></p>
	    		<a class="fr large_button" onclick="closePopup();">Close</a>
			</div>
		</div>
	<% end %>
	<div id="content">
		<div id="bottom">
			<div id="columns">
				<%= yield :title %>
			</div>
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
			<%= yield %>
			<div class="clear"> </div>
		</div>
	</div>
	<div id="clearfooter"></div>
</div>
<%= render"shared/footer" %>
</body>
</html>
