<!DOCTYPE html>
<html class=“no-js”>
<head>
  <meta charset="utf-8">
  <title><%= @title %></title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application", "modernizr" %>
  <%= csrf_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/assets/favicon.ico"/>
  <!--[if lt IE 9]>
     <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!-- Analytics -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-10613308-2']);
    _gaq.push(['_setDomainName', 'flashvolunteer.org']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    <!-- UserVoice JavaScript SDK (only needed once on a page) -->
    (function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/lXYSV5w6ft8zTkgrphrRg.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()

    UserVoice = window.UserVoice || [];
    UserVoice.push(['showTab', 'classic_widget', {
        mode: 'feedback',
        primary_color: '#cc6d00',
        link_color: '#007dbf',
        forum_id: 249043,
        tab_label: 'feedback',
        tab_color: '#00cc52',
        tab_position: 'middle-left',
        tab_inverted: false
    }]);
  </script>
</head>
<body>
  <div id="wrapper">
    <%= render"shared/header" %>
    <div class="container">
      <% if flash[:alert] || flash[:error] %>
          <div class="alert alert-error">
              <a class="close" data-dismiss="alert" href="#">x</a>
              <h4 class="alert-heading">Error!</h4>
              <p>
                  <ul>
                      <li><%= flash[:alert] || flash[:error] %></li>
                  </ul>
              </p>
          </div>
      <% end %>
      <% if flash[:notice] || flash[:info] %>
          <div class="alert alert-success">
              <a class="close" data-dismiss="alert" href="#">x</a>
              <p>
                  <ul>
                      <li><%= flash[:notice] || flash[:info] %></li>
                  </ul>
              </p>
          </div>
      <% end %>
      <% if flash[:warning] %>
          <div class="alert">
              <a class="close" data-dismiss="alert" href="#">x</a>
              <p>
                  <ul>
                      <li><%= flash[:warning] %></li>
                  </ul>
              </p>
          </div>
      <% end %>
      <div id="content">
      <%= yield %>
      <%= render "shared/debug" if Rails.env.development? %>
      </div>
    </div>
    <div id="clearfooter"></div>
  </div><!-- .container -->
  <footer class="footer">
      <%= render"shared/footer" %>
  </footer>
  <div class="clickeater"></div>
  <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=false' %>
  <!--Crazyegg tracker-->
  <script type="text/javascript">
  setTimeout(function(){var a=document.createElement("script");
  var b=document.getElementsByTagName("script")[0];
  a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0006/0573.js?"+Math.floor(new Date().getTime()/3600000);
  a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
  </script>
</body>
</html>
