<!DOCTYPE html>
<html>
<head>
    <title>Flashvolunteer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "application" %>
    <%= mobylette_javascript_include_tag "application" %>
    <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=false' %>
    <%= csrf_meta_tag %>
</head>
<body>HI
  <%= yield %>
</body>
</html>
