<!DOCTYPE html>
<html>
<head>
  <title>Flashvolunteer</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=false' %>
  <%= csrf_meta_tag %>
</head>
<body>
    <div id="nonfooter">
      <div class="header">
        <%= render"shared/header" %>
      </div>
      <div class="container">
        <%= yield %>
      </div>
      <%= render "shared/debug" if Rails.env.development? %>
      <div id="clearfooter">&nbsp;</div>
    </div>
    <footer>
        <%= render"shared/footer" %>
    </footer>
</body>
</html>
