<!DOCTYPE html>
<html>
<head>
  <title>Flashvolunteer</title>
  <%= stylesheet_link_tag "application.mobile" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=false' %>
  <%= csrf_meta_tag %>
</head>
<body>
   
      <div class="header_mobile">
        <%= render"shared/header.mobile" %>
      </div>
      
        <%= yield %>
      
      <div id="clearfooter">&nbsp;</div>
    
    <footer>
        <%= render"shared/footer.mobile" %>
    </footer>
</body>
</html>