<% content_for :email_content do%>
	<p>Hello, <%= @resource.email %>,</p>

	<p>At least one volunteer has changed plans and won't be attending your event, <%event_name%>. You now have <%event_attendee_count%> volunteer(s) signed up.</p>

	<p>Go to the event page to view all the volunteers who have signed up, <!--to send a message to your volunteers, -->or to update the event details.</p>

	<p>Have questions, comments, or suggestions? Email me at <%= mail_to('charlie@flashvolunteer.org', 'charlie@flashvolunteer.org', :subject => 'Questions regarding Flash Volunteer', :encode=>'hex')%></p>

	<p>Happy volunteering!</p>


	<p>Charlie X. Buttons</p>
	<p>Flash Volunteer CEO (Communicator of Ebbing Orders) </p>
	<p><%= mail_to('charlie@flashvolunteer.org', 'Contact me', :subject => 'Questions regarding Flash Volunteer', :encode=>'hex')%></p>

	<p>This notification was sent to <%= @resource.email %> because it is associated with a Flash Volunteer account. Visit account setup to change your communications preferences. </p>
<% end %>
<%= render(:template => 'user_mailer/header')%>