<p>Hi, <%= @resource.email %>,</p>


<p>We have you down for %event_duration hours of volunteering at %event_name on %event_date, and we want to make sure you get credit for your hard work!</p>

<p>Take a minute to <%= link_to("enter your volunteer hours", confirmation_url(@resource, :confirmation_token => @resource.confirmation_token))%>. If it turns out you didn't participate in this project, that's OK -- you should still <%= link_to("update your events page", confirmation_url(@resource, :confirmation_token => @resource.confirmation_token))%>.</p>

<p>Remember, Flash Volunteer makes it easy to track your volunteer time, whether you have school-mandated service, or your employer donates matching funds for volunteer hours. <%= link_to("Sign in", confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)) %>.</p>


<p>Sincerely,</p></br>
<p>The Flash Volunteer team</p></br>
<p>This notification was sent to <%= @resource.email %> because it is associated with a Flash Volunteer account. Visit account setup to change your communications preferences. </p>