<%
    # f = form
%>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-md-2">
        <div class="pull-right"><%= f.label :name, "name"%></div>
    </div>
    <div class="col-md-10">
        <%= f.text_field :name, :class=>"full", :id => "account_name"  %>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <div class="pull-right"><%= f.label :email, "email" %></div>
    </div>
    <div class="col-md-10">
        <%= f.email_field :email, :class=>"full", :id=>"account_email" %>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <div class="pull-right"><%= f.label :password, "password" %></div>
    </div>
    <div class="col-md-10">
        <%= f.password_field :password, :class=>"full" %>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <div class="pull-right" style="text-align:right"><%= f.label :password_confirmation, "confirm password" %></div>
    </div>
    <div class="col-md-10">
        <%= f.password_field :password_confirmation, :class=>"full" %>
    </div>
</div>
<div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-10">
        <div style="padding-left: 5px">
            By signing up, I agree to the <%= link_to("Terms of Use", tou_url, :target => "_blank") %> and <%= link_to("Privacy Policy", privacy_url, :target => "_blank") %>
        </div>
    </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
    <button type="submit" id="sign_up" class="btn btn-primary pull-right" href="#"><%= button %></button>
</div>
