<% content_for :main_action do %>
sign up
<% end %>
<% content_for :link_action do 
link_to("sign in", new_user_session_url)
end %>
<%= content_for :form_content do %>
        <h4>create a Flash account: </h4>
        <div class="row">&nbsp;</div>
        <div class="row-fluid">
            <div class="span2">&nbsp;</div>
            <div class="span8">
                <div class="row-fluid">
                    <div class="span1">
                        <input name="user[account_type]" class="pull-left radio" id="for_individual_radio" type="radio" value="organization" checked="checked"/>
                    </div>
                    <div class="span5">
                        <label for="for_individual_radio">for me</label> 
                    </div>
                    <div class="span1">
                        <input name="user[account_type]" class="pull-left radio" id="for_org_radio" type="radio" value="user" />
                    </div>
                    <div class="span5">
                        <label for="for_org_radio">for my org</label> 
                    </div>
                </div>
            </div>
        </div>
        <div id="for_individual">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= render(:partial => "form", :locals => { :f => f, :button => "sign up"}) %>
    <% end %>
        </div>
        <div id="for_org">
    <%= form_for(@org, :url => register_orgs_url) do |f| %>
        <%= render(:partial => "form", :locals => { :f => f, :button => "create org"}) %>
    <% end %>
        </div>
        <script type="text/javascript">
        $(document).ready(function() {
            $("#for_org").hide();
            $("#for_individual_radio").click(function() {
                $("#for_org").hide(); 
                $("#for_individual").show(); 
            });

            $("#for_org_radio").click(function() { 
                $("#for_individual").hide(); 
                $("#for_org").show();
            });
        });
        </script>
<% end %>
<%= render :template => 'users/shared/form' %>