<% content_for :main_action do %>
Sign up
<% end %>
<% content_for :link_action do 
link_to("Sign in", new_user_session_url)
end %>
<%= content_for :content do %>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html=>{:name=>"signupform", :id=>"sign"}) do |f| %>
        <div class = "subheader">Create a Flash account: </div>

        <div class="formpadding">
            <%= f.label :name %>
            <%= f.email_field :name %>
        </div>

        <div class="formpadding">
            <%= f.label :email %>
            <%= f.email_field :email %>
        </div>

        <div class="formpadding">
            <%= f.label :password %>
            <%= f.password_field :password %>
        </div>
        
        <div class = "formpadding">
            <%= f.label :confirm_password %>
            <%= f.password_field :password %>
        </div>

        <div class="clear" style="padding-top: 10px"></div>
        <input type="checkbox" name="account_type" value="organization"/> I accept the <%= link_to("Terms of Use", tou_url) %> and <%= link_to("Privacy Policy", privacy_url) %><br/>
        <a class="large_button fr" href="#" onclick="submitForm('signupform')">Sign up</a>
    <% end %>
<% end %>
<%= render :template => 'users/shared/form' %>