<div id="splash_top">
	<div id="splash_question_mark" class="fl">
		<%= image_tag("question_mark.png", 
			:id => "question-mark",
			:border=>"0") %>
	</div>
    <div id="splash_top_option">
        <div id="splash_question">
            <li>A little more information...</li>
        </div>
		
		<div id="quick">
			<div class="form_fields">
			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html=>{:name=>"signinform"}) do |f| %>
				<div class="formpadding">
                    <%= f.label :name %>
                    <%= f.text_field :name  %>
                </div>
				
				<div class="formpadding">
                    <%= f.label :email %>
                    <%= f.email_field :email %>
                </div>
			<% end %>
			</div>
		</div>
    </div>
    <% link_to("#", :onclick => "submitForm('signinform')", :class=>"large_button fr") do %>
        Continue
    <% end %>
    <div class="clear">
        <div class="fr">
            <%= link_to("Sign in", user_session_url)%> | <%= link_to("Cancel", "#", :onclick => "history.back(1)")%> 
        </div>
    </div>
</div>
