<% content_for :question do %>
    To sign up, give your name and email address.
<% end %>
<% content_for :below_question do %>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html=>{:name=>"signinform"}) do |f| %>
        <div class="row-fluid full">
            <div class="span2">
                <%= f.label :name %>
            </div>
            <div class="span10">
                <%= f.text_field :name  %>
            </div>
        </div>
        <div class="row-fluid full">
            <div class="span2">
                <%= f.label :email %>
            </div>
            <div class="span10">
                <%= f.email_field :email %>
            </div>
        </div>
    <% end %>
<% end %>

<% content_for :button do %>
    <% link_to("#", :onclick => "submitForm('signinform')", :class=>"btn btn-primary") do %>
        Continue
    <% end %>
<% end %>
<% content_for :below_button do %>
        <%= link_to("Sign in", user_session_url)%> | <%= link_to("Cancel", "#", :onclick => "history.back(1)")%> 
<% end %>

<%= render(:template => 'shared/splash_with_question') %>